
#faqSection{
	background:url('img/faq_bg.jpg') repeat-y #fff;
	padding:0px 0px 0px 0px;
	border:260px  solid rgb(66, 133, 244);
	text-shadow:0px 0px 0 white;
}
 
 #questionSectionAllign{
	color:black;
	font-size:14px;
	font-weight:normal;
	text-align:justify;
	margin-top: 0px;
	margin-bottom: 0px;
} 
/*#text-color {
	color:black;
	
} */
.answerSectionAllign{
	background: #616161;
    padding-bottom: 10px;
    color: white;
	font-size:12px;
	font-weight:normal;
	text-align:justify;
	padding:10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.faqHeader {
	font-size: 27px;
	margin: auto;
	margin-top: -10px;
}


.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e072";   /* "play" icon */
	/* content: "\2b"; */ 
	float: right;
	color: gray;
	font-size: 10px;
	line-height: 6px;
	
	/* rotate "play" icon from > (right arrow) to down arrow */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
	/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #454444;
}
/* 
.bg{
	background:url('img/faq_bg.jpg') repeat-y #fff;
	padding:0px 0px 0px 0px;
	border:150px solid rgb(66, 133, 244);
	text-shadow:0px 0px 0 white;
} */
