<div class="{{width}} chart-parent-div">
	<div class="jarviswidget jarviswidget-color-blueLight"
		id="wid-id-calendar_{{idCounter}}" data-widget-fullscreenbutton="false">
		<header>
			<span class="widget-icon"><i class="fa fa-fw fa fa-table">
			</i></span>
			<h2>{{table-header}}</h2>
		</header>
		<div style="background: #FFFFFF">
			<div class="jarviswidget-editbox">
				<div class="row">
					<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
						<input class="form-control" type="text"> <span class="note"><i
							class="fa fa-check text-success"></i> Change title to update and
							save instantly!</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
						<input class="form-control" type="text" name="eventclickcallback" data-drilldowncallback=""> <span class="note"><i
							class="fa fa-check text-success"></i> Callback function on event click</span>
					</div>
					<div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
						<input class="form-control" name="chartwidth" value="auto"> <span class="note"> width</span>
					</div>
					<div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
						<input class="form-control" name="chartheight" value="auto"> <span class="note"> height</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-width"> <select name="width">
								<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12">Choose Width</option>
								<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12">100%</option>
								<option value="col-md-9 col-xs-9 col-sm-9 col-lg-9">75%</option>
								<option value="col-md-6 col-xs-6 col-sm-6 col-lg-6">50%</option>
								<option value="col-md-3 col-xs-3 col-sm-3 col-lg-3">25%</option>
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Select width of widget</span>
					</div>
					<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form">
						<input type="text"
						name="tableForcalendar" id="tableForCalendar_{{idCounter}}" style="width: 90%" />
						<span class="note"><i class="fa fa-check text-success"></i>
							Change table</span>
					</div>
				</div>
				<div class="row settings">
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-width"> <select name="eventid">
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							ID</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-width"> <select name="eventname">
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Display name</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-width"> <select name="eventstart">
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Start date</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-width"> <select name="eventend">
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							End Date</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-width"> <select name="eventcolor">
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Color</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<input class="form-control"  name="defaultdate" data-tableorderby="1"> <span class="note"> Default date</span>
					</div>
				</div>
			</div>
			<div class="widget-body" class="backgroundcolorwidgetimp">

				<div class="row">

					<div id="Calendars_{{idCounter}}"
						class="fc">
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
