<div class='smart-form'>
	<ul id='summaryTab' class='nav nav-tabs bordered'>
		<li class='active'><a href='#s1' data-toggle='tab'><i
				class='fa fa-fw fa-lg fa-image'></i> Widget</span></a></li>
		<li><a href='#s2' data-toggle='tab'><i
				class='fa fa-fw fa-lg fa-gear'></i> Settings</a></li>
	</ul>
	<div id='summaryTabContent' class='tab-content row  widgetDiv'>
		<div class='tab-pane fade  in active padding-10' id='s1'>
			<div class='row no-margin'>
				<div class='col-md-6 col-xs-6 col-sm-6 col-lg-6'>
					<div class='ibox widget-type'>
						<div class='ibox-content'>
							<h5>iBox</h5>
							<h2>50%</h2>
							<div class='progress progress-mini'>
								<div style='width: 78%;' class='progress-bar'></div>
							</div>

							<div class='m-t-sm small'>Server down since 4:32 pm.</div>
						</div>
					</div>
				</div>
				<div class='col-md-6 col-xs-6 col-sm-6 col-lg-6'>
					<div class='widget widget-type lazur-bg'>
						<div class='row no-margin'>
							<div class='col-xs-5'>
								<i class='fa fa-envelope-o fa-5x'></i>
							</div>
							<div class='col-xs-7 text-right'>
								<span class='font-md'> Message </span>
								<h2 class='font-bold'>260</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='row no-margin'>
				<div class='col-md-6 col-xs-6 col-sm-6 col-lg-6'>
					<div class='circle-tile widget-type'>
						<a>
							<div class='circle-tile-heading dark-blue'>
								<i class='fa fa-users fa-fw fa-2x'></i>
							</div>
						</a>
						<div class='circle-tile-content dark-blue'>
							<div class='circle-tile-description text-faded'>Circle
								Title</div>
							<div class='circle-tile-number text-faded'>265</div>
						</div>
					</div>
				</div>
				<div class='col-md-6 col-xs-6 col-sm-6 col-lg-6'>
					<div class='widget-type fillgauge'>
						<svg id='fillgauge' style='width: 100%'></svg>
					</div>
				</div>
			</div>
		</div>
		<div class='tab-pane fade' id='s2'>
			<div class='div-3'>
				<div>
					<div class='note'>
						<strong>width</strong>
					</div>
					<label class='input'> <input type='text'
						name='summary-width' class='input-xs'>
					</label>
				</div>				
				<div>
					<div class='note'>
						<strong>Date Format</strong>
					</div>
					<label class='input'> <input type='text' name='date-format'
						class='input-xs'>
					</label>
				</div>
				<div>
					<div class='note'>
						<strong>Height</strong>
					</div>
					<label class='input'> <input type='text'
						name='summary-height' class='input-xs'>
					</label>
				</div>
			</div>
			<div class='div-2'>			
					<div>
						<div class='note'>
							<strong>Value Type</strong>
						</div>
						<label class='width-100per'><select
							class='aggregate-select input-xs' name='valuetype'>
								<option value=''>Value</option>
								<option value='percentage'>Percentage</option>
								<option value='valuepercentage'>Value - Percentage</option>
								</select></label>
					</div>
					<div>
					<div class='note'>
						<strong>Type</strong>
					</div>
					<label class='width-100per'><select
						class='aggregate-select input-xs' name='field-type'><option
								value='string'>String</option>
							<option value='date'>Date</option></select><i></i></label>
				</div>
			</div>
			<div name='ibox'>
			<div class='div-3'>
					<div>
						<div class='note'>
							<strong>Min Value</strong>
						</div>
						<label class='input'> <input type='text' name='min-value'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Process Bar</strong>
						</div>
						<label class='width-100per'><select
							class='aggregate-select input-xs' name='process-bar-color'>
								<option value='navy-bg'>Green</option>
								<option value='red-bg'>Red</option>
								<option value='blue-bg'>blue</option>
								<option value='gray-bg'>gray</option>
								<option value='light-black-bg'>light black</option>
								<option value='light-blue-bg'>light blue</option>
								</select><i></i></label>
								
					</div>
					<div>
						<div class='note'>
							<strong>Max Value</strong>
						</div>
						<label class='input'> <input type='text' name='max-value'
							class='input-xs'>
						</label>
					</div>
				</div>
				
			</div>
			<div name='widget'>
				<div class='div-2'>
					<div>
						<div class='note'>
							<strong>Widget Color</strong>
						</div>
						<label class='width-100per'><select
							class='aggregate-select input-xs' name='widget-color'><option
									value='navy-bg'>Green</option>
								<option value='red-bg'>Red</option>
								<option value='blue-bg'>blue</option>
								<option value='light-blue-bg'>light blue</option>
								<option value='yellow-bg'>yellow</option>
								<option value='black-bg'>black</option>
								<option value='light-black-bg'>light black</option>
								<option value='gray-bg'>gray</option>
								</select><i></i></label>
					</div>
					<div>
						<div class='note'>
							<strong>Icon</strong>
						</div>
						<label class='input'> <input type='text'
							name='widget-icon' class='input-xs'>
						</label>
					</div>
				</div>
			</div>
			<div name='circle-tile'>
				<div class='div-4'>
					<div>
						<div class='note'>
							<strong>Widget Color</strong>
						</div>
						<label class='width-100per'><select
							class='aggregate-select input-xs' name='circle-title-color'><option
									value='navy-bg'>Green</option>
								<option value='red-bg'>Red</option>
								<option value='light-blue-bg'>light blue</option>
								<option value='blue-bg'>blue</option>
								<option value='yellow-bg'>yellow</option>
								<option value='black-bg'>black</option>
								<option value='light-black-bg'>light black</option>
								<option value='gray-bg'>gray</option>
								</select><i></i></label>
					</div>
					<div>
						<div class='note'>
							<strong>Font Size</strong>
						</div>
						<label class='width-100per'><select
							class='aggregate-select input-xs' name='summaryfontsize'>
								<option value=''>Default</option>
								<option value='font-xxs'>Extra2 small</option>
								<option value='font-xs'>Extra small</option>
								<option value='font-sm'>Small</option>
								<option value='font-md'>Medium</option>
								<option value='font-lg'>Large</option>
								<option value='font-xl'>Extra Large</option>
								</select></label>
					</div>
					<div>
						<div class='note'>
							<strong>Icon</strong>
						</div>
						<label class='input'> <input type='text'
							name='circle-title-icon' class='input-xs'>
						</label>
					</div>
				</div>
			</div>
			<div name='fillgauge'>
				<div class='div-4'>
					<div>
						<div class='note'>
							<strong>Min Value</strong>
						</div>
						<label class='input'> <input type='text' name='min-value'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>circle Thickness</strong>
						</div>
						<label class='input'> <input type='number'
							name='circle-thickness' min='0' max='1' step='0.05' value='0.05'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Circle Fillgap</strong>
						</div>
						<label class='input'> <input type='number'
							name='circle-fillgap' min='0' max='1' step='0.05' value='0.05'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Max Value</strong>
						</div>
						<label class='input'> <input type='text' name='max-value'
							class='input-xs'>
						</label>
					</div>
				</div>
				<div class='div-4'>
				<div>
						<div class='note'>
							<strong>Circle Color</strong>
						</div>
						<label class='input'> <input type='color'
							name='circle-color' value='#178BCA' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Wave Height</strong>
						</div>
						<label class='input'> <input type='number'
							name='wave-height' min='0' max='1' step='0.05' value='0.05'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Wave Count</strong>
						</div>
						<label class='input'> <input type='number'
							name='wave-count' min='0' max='10' step='1' value='1'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Wave RiseTime</strong>
						</div>
						<label class='input'> <input type='number'
							name='wave-risetime' min='0' max='1000' step='50' value='100'
							class='input-xs'>
						</label>
					</div>
				</div>
				<div class='div-3'>
					<div>
						<div class='note'>
							<strong>Wave Animate</strong>
						</div>
						<label class='width-100per'><select
							class='aggregate-select input-xs' name='wave-animate'><option
									value='true'>True</option>
								<option value='false'>False</option>
						</select><i></i></label>
					</div>
					<div>
						<div class='note'>
							<strong>Wave Rise</strong>
						</div>
						<label class='width-100per'><select
							class='aggregate-select input-xs' name='wave-rise'><option
									value='true'>True</option>
								<option value='false'>False</option>
						</select><i></i></label>
					</div>
					<div>
						<div class='note'>
							<strong>Wave Height Scaling</strong>
						</div>
						<label class='width-100per'><select
							class='aggregate-select input-xs' name='wave-height-scaling'><option
									value='true'>True</option>
								<option value='false'>False</option>
						</select><i></i></label>
					</div>
				</div>
				<div class='div-3'>
					<div>
						<div class='note'>
							<strong>Wave AnimateTime</strong>
						</div>
						<label class='input'> <input type='number'
							name='wave-animate-time' min='0' max='30000' step='3000'
							value='18000' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Wave Color</strong>
						</div>
						<label class='input'> <input type='color'
							name='wave-color' value='#178BCA' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Wave Offset</strong>
						</div>
						<label class='input'> <input type='number'
							name='wave-offset' min='0' max='1' step='0.05' value='0'
							class='input-xs'>
						</label>
					</div>
				</div>
				<div class='div-4'>
					<div>
						<div class='note'>
							<strong>Text Vert Pos.</strong>
						</div>
						<label class='input'> <input type='number'
							name='text-vert-position' min='0' max='1' step='0.05'
							value='0.75' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Text Size</strong>
						</div>
						<label class='input'> <input type='number'
							name='text-size' min='0' max='1' step='0.5' value='0.75'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Text Color</strong>
						</div>
						<label class='input'> <input type='color'
							name='text-color' value='#A4DBf8' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Text Wave Col.</strong>
						</div>
						<label class='input'> <input type='color'
							name='text-wave-color' value='#A4DBf8' class='input-xs'>
						</label>
					</div>
				</div>
				<div class='div-4'>
					<div>
						<div class='note'>
							<strong>Detail Vert Pos.</strong>
						</div>
						<label class='input'> <input type='number'
							name='detail-vert-position' min='0' max='1' step='0.05'
							value='0.5' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Detail Text Size</strong>
						</div>
						<label class='input'> <input type='number'
							name='detail-size' min='0' max='1' step='0.05' value='0.5'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Detail Color</strong>
						</div>
						<label class='input'> <input type='color'
							name='detail-color' value='#A4DBf8' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Detail Wave Col</strong>
						</div>
						<label class='input'> <input type='color'
							name='detail-wave-color' value='#A4DBf8' class='input-xs'>
						</label>
					</div>
				</div>
				<div class='div-4'>
					<div>
						<div class='note'>
							<strong>Desc. Vert Pos.</strong>
						</div>
						<label class='input'> <input type='number'
							name='desc-vert-position' min='0' max='1' step='0.05'
							value='0.35' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Desc. Size</strong>
						</div>
						<label class='input'> <input type='number'
							name='desc-size' min='0' max='1' step='0.05' value='0.25'
							class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Wave Desc. Col.</strong>
						</div>
						<label class='input'> <input type='color'
							name='desc-color' value='#045681' class='input-xs'>
						</label>
					</div>
					<div>
						<div class='note'>
							<strong>Desc Wave Col.</strong>
						</div>
						<label class='input'> <input type='color'
							name='desc-wave-color' value='#FF7777' class='input-xs'>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>