
    
    <div id="map-canvas" style="height:600px;"></div>
	<script type="text/javascript"
      src="ajax/GeoSpatial/googleMapPlugin.js">
    </script>    
    <script type="text/javascript" >
    
      function initialize() {
    	  var citymap = {
    			  Delhi: {
    				center: {lat: 28.589345223446188 , lng: 77.2174072265625},
    				population: 2714856
    			  },
    			  Mumbai: {
    				center: {lat: 19.07509724212452 , lng: 72.8778076171875},
    				population: 8405837
    			  },
    			  Banglore: {
    				center: {lat: 12.967088984637448 , lng: 77.58956909179688},
    				population: 3857799
    			  },
		    	  Kolkata: {
		    		center: {lat: 22.56582956966297, lng:  88.3795166015625},
		    		population: 603502
		    	  }
    		},
        mapOptions = {
          center: new google.maps.LatLng(22.309425841200177,78.486328125),
          zoom: 5
        },circles = {},
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
	        google.maps.event.addListener(map, 'zoom_changed', function(z,r) {
				 for(var circle in circles){
					 circles[circle].setRadius(Math.sqrt(citymap[circle].population)/map.getZoom()*100 );
				 }
			});
			
			var infoWindowCircle = new google.maps.InfoWindow();
			 for (var city in citymap) {
				var cityCircle = new google.maps.Circle({
				  strokeColor: '#FF0000',
				  strokeOpacity: 0.8,
				  strokeWeight: 2,
				  clickable:true,
				  fillColor: '#FF0000',
				  fillOpacity: 0.35,
				  content: '<div><h1>'+city +'</h1><div>Population : '+citymap[city].population+'</div></div>',
				  map: map,
				  center: citymap[city].center,
				  radius: Math.sqrt(citymap[city].population)/map.getZoom() * 100
				});
				google.maps.event.addListener(cityCircle, 'click', function(ev){
					infoWindowCircle.setPosition(ev.latLng);
					infoWindowCircle.setContent(this.content);
					infoWindowCircle.open(map,cityCircle);
				});
				circles[city] = cityCircle;
			}		
      }
      
      google.maps.event.addDomListener(window, 'load', initialize);
      
    </script>