<section id="widget-grid" class="">
    <!-- row -->
    <div class="row" id="myProfilesConfig">
        <div class="col-sm-12">
            <form id="frmSearchConfig" class="" novalidate="novalidate">
                <div class="col-sm-10">
                    <h3>Select database and table</h3>
                </div>
                <div class="col-sm-2 no-padding-left">
                    <div class="btn well well-sm bg-color-blueLight txt-color-white text-center margin-bottom-3" id="mySavedSearchProfile">
                        <h5>Saved Search Profile</h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="progress progress-micro ">
                        <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="solrSchema" id="solrSchema" style="width: 100%" />
                </div>
                <!-- <div class="col-sm-2">
                    </i>
                    <input type="text" name="searchType" id="searchType" style="width: 100%" />
                </div> -->
                <div class="col-sm-2">
                    </i>
                    <input type="text" name="source" id="source" style="width: 100%" />
                </div>
                <div class="col-sm-3">
                    </i>
                    <input type="text" name="database" id="database" style="width: 100%" />
                </div>
                <div class="col-sm-2">
                    </i>
                    <input type="text" name="searchTable" id="searchTable" style="width: 100%" />
                </div>
                <div class="col-sm-1">
                    <!-- <a class="btn btn-primary" id="saveSearch" data-toggle="modal"><i class="fa fa-save"></i> Save</a> -->
                    <a class="btn btn-primary" id="proceedSearch" data-toggle="modal"><i class="fa fa-arrow-right"></i> Proceed</a>
                </div>
            </form>
        </div>
    </div>
    <!-- saved profile -->
    <!-- <div class="row" id="myProfiles">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h3>
                Saved Profile
                    <a class="btn btn-warning padding-left-20 pull-right" id="backToDesign" href="javascript:void(0);" title="Back to source selection"><i class="fa fa-mail-reply"></i> Back</a>
                </h3>
            </div>
            <div class="col-sm-12">
                <div class="progress progress-micro">
                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="well padding-10">
                    <h5 class="no-margin col-md-2">
                    Name
                </h5>
                    <h5 class="no-margin col-md-4">
                    Schema
                </h5>
                    <h5 class="no-margin col-md-2">
                    Search Source
                </h5>
                    <h5 class="no-margin col-md-4 ">
                    Description
                </h5>
                    <h5 class="no-margin col-md-1">
                </h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group no-margin cursor-pointer" id="myProfileList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->
    <div class="row" id="myprofiles" style="display: none">	
	<div class="col-sm-12">	
		<div class="progress progress-micro">	
			<div class="progress-bar progress-bar-primary" role="progressbar"	
				style="width: 100%;"></div>	
		</div>	
	</div>	
	  <div class="col-sm-12">	
		<ul class="nav nav-tabs bordered profile-tabs">	
			<li id="myProfileActive" class="active"><a href="#myprofilediv"	
				id="myProfilediv" data-attr="myprofile" style="color: black"	
				data-toggle="tab" aria-expanded="true">My Profiles<span	
					class="badge bg-color-blue txt-color-white" name="myprofileCount">12</span></a></li>	
			<li id="allProfileActive" class=""><a href="#allprofilediv"	
				id="allProfilediv" data-attr="allprofile" data-toggle="tab"	
				style="color: black" aria-expanded="false">All Profiles<span	
					class="badge bg-color-blue txt-color-white" name="allprofileCount">12</span></a></li>	
			<div class="col-sm-4 " style="padding-top: 2px; margin-left: 9%"	
				id="selectedProfileName">	
				<h4>	
					<b></b>	
				</h4>	
			</div>	
			<div class="col-sm-2 " id="appProfile"	
				style="padding-top: 4px; margin-left: 10%">	
				<!-- <i class=" "></i> <input type="text" name="appProfile"	
					id="appProfile" style="width: 90%" /> -->	
			</div>	
			<div class=" pull-right "	
				style="padding-top: 2px; padding-right: 1%;">	
				<a class="btn btn-warning padding-left-20 padding "	
					id="backToDesign" href="javascript:void(0);"	
					title="Back to source selection"><i class="fa fa-mail-reply"></i>	
					Back</a>	
			</div>	
		</ul>	
		<div class="tab-content padding-10">	
			<div class="well padding-10 active in" id="myprofilediv">	
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>	
				<h5 class="margin-top-0 col-md-1">Source</h5>	
				<h5 class="margin-top-0 col-md-1">Database</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created	
					on</h5>	
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>	
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->	
				<div class="row">	
					<div class="col-lg-12">	
						<table	
							class='table table-striped table-bordered table-hover table-responsive'	
							id='myProfileTable' style="overflow: auto; width: 100%;">	
						</table>	
						<!-- <div class="tree smart-form">	
						<ul role="tree" id="myProfileList">	
						</ul>	
						</div> -->	
					</div>	
				</div>	
			</div>	
			<div class="well padding-10" id="allprofilediv">	
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>	
				<h5 class="margin-top-0 col-md-1">Source</h5>	
				<h5 class="margin-top-0 col-md-1">Database</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>	
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created	
					on</h5>	
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>	
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->	
				<div class="row">	
					<div class="col-lg-12">	
						<table id='allProfileTable'	
							class='table table-striped table-bordered table-hover table-responsive'>	
						</table>	
						<!-- <div  class="tree smart-form">	
						<ul role="tree" id="allProfileList">	
						</ul>	
					</div> -->	
					
					</div>	
				</div>	
			</div>	
		</div>	
	</div>	
</div>
</section>
<div class="modal fade" id="myModalSaveSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog width-500">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Profile Details</h4>
            </div>
            <form class="" id="frmSearchModal">
                <div class="modal-body no-padding">
                    <div action="" id="smart-form-register" class="smart-form " novalidate="novalidate">
                        <fieldset>
                            <section>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="profilename" id="profilename" placeholder="Profile name"> <b class="tooltip tooltip-bottom-right">Needed to enter the
                                        Profile display name</b>
                                </label>
                            </section>
                            <section>
                                <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                    <textarea rows="4" name="description" id="description" placeholder="Description"></textarea> <b class="tooltip tooltip-bottom-right">Needed to enter the Description</b>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="btnSaveSearch">Save</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- configurator -->
<div id="profileConfig" style="display: none">
    <div id="profilePreview" style="display: none">
    </div>
    <div id="profileEdit" style="display: none">
        <div class="row">
            <div class="col-sm-12">
                <article class="sortable-grid ui-sortable">
                    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-header" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                        <header>
                            <span class="widget-icon"><i
                                        class="fa fa-fw fa-search"> </i></span>
                            <h2 id="sourceTableDesc">Search Configurator</h2>
                            <a class="btn btn-warning pull-right" id="searchBack" href="javascript:void(0);" title="Back to table selection">
                                <i class="fa fa-mail-reply"></i> Back
                            </a>
                        </header>
                        <div class="widget-body">
                            <div class="col-sm-8">
                                <div class="row" id="sconfig">
                                    <div class="col-sm-12 sortable-grid ui-sortable">
                                        <!-- Widget ID (each widget will need unique ID)-->
                                        <div id="viewConfig" style="display: none;" class="jarviswidget jarviswidget-color-blueDark " id="wid-id-filter">
                                            <header>
                                                <span class="widget-icon no-min-height"> <i
                                                            class="fa fa-lg fa fa-eye"></i>
                                                        </span>
                                                <h2>View Configuration</h2>
                                            </header>
                                            <div>
                                                <div class="jarviswidget-editbox"></div>
                                                <div class="widget-body no-min-height smart-form">
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <input type="text" id="txtViewConfigEntities" class="input" />
                                                                <button class="btn btn-default" id="btnViewConfigEntities">Get Entities</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="pConfig" style="display: none">
                                    <div class="col-sm-12 sortable-grid ui-sortable">
                                        <!-- Widget ID (each widget will need unique ID)-->
                                        <div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-filter">
                                            <header>
                                                <span class="widget-icon no-min-height"> <i
                                                            class="fa fa-lg fa fa-cog"></i>
                                                        </span>
                                                <h2>Parameters Configuration</h2>
                                            </header>
                                            <div>
                                                <div class="widget-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">Search Field</div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <table class="table table-striped">
                                                                        <thead>
                                                                            <tr>
                                                                                <td>Key</td>
                                                                                <td>Value</td>
                                                                                <td>Actions</td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="searchfieldbody">
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">Search Type</div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <table class="table table-striped">
                                                                        <thead>
                                                                            <tr>
                                                                                <td>Key</td>
                                                                                <td>Value</td>
                                                                                <td>Actions</td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="searchtypebody">
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="entitiesConfig" style="display: none">
                                <!-- Widget ID (each widget will need unique ID)-->
                                <div class="jarviswidget jarviswidget-color-orangeDark" id="wid-id-dim" data-widget-colorbutton="true" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false">
                                    <header>
                                        <span class="widget-icon"> <i
                                                            class="fa fa-lg fa-tasks txt-color-darken"></i>
                                                        </span>
                                        <h2>Entities Filter</h2>
                                    </header>
                                    <div>
                                        <div class="jarviswidget-editbox"></div>
                                        <div class="widget-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <select name="searchEntities" multiple="multiple" id="searchEntities" style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="advancedconfig" style="display: none;">
                                <div class="col-sm-12 sortable-grid ui-sortable">
                                    <!-- Widget ID (each widget will need unique ID)-->
                                    <div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-filter">
                                        <header>
                                            <span class="widget-icon no-min-height"> <i
                                                            class="fa fa-lg fa fa-filter"></i>
                                                        </span>
                                            <h2>Solr Index</h2>
                                        </header>
                                        <div>
                                            <div class="jarviswidget-editbox"></div>
                                            <div class="widget-body">
                                                <div id="advancedconfig-area">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="genericsearch" style="display: none;">
                                <div class="col-sm-12 sortable-grid ui-sortable">
                                    <!-- Widget ID (each widget will need unique ID)-->
                                    <div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-search">
                                        <header>
                                            <span class="widget-icon no-min-height"> <i
                                                            class="fa fa-lg fa fa-search"></i>
                                                        </span>
                                            <h2>Search</h2>
                                        </header>
                                        <div>
                                            <div class="jarviswidget-editbox"></div>
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-sm-12" id="search">
                                                        <div class="row">
                                                            <div class="input-group">
                                                                <div class="input-group-btn">
                                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="#">Action</a></li>
                                                                        <li><a href="#">Another action</a></li>
                                                                        <li><a href="#">Something else here</a></li>
                                                                        <li role="separator" class="divider"></li>
                                                                        <li><a href="#">Separated link</a></li>
                                                                    </ul>
                                                                </div>
                                                                <!-- /btn-group -->
                                                                <input type="text" class="form-control" aria-label="...">
                                                            </div>
                                                            <!-- /input-group -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
                </div>
            </div>
        </div>
    </div>
    <script src="js/SearchConfig/searchConfig.js"></script>
    <script src="js/SearchConfig/searchConfigurator.js"></script>
    <script src="js/DataAnalyser/ProfileUtilty.js"></script>
