<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Reports</h2>

					<!-- <ul class="demo-btns">
						<li><a href="#" id="smart-mod-eg1"
							class="btn btn-success pull-right" data-toggle='modal'
							onclick="FinanceReport.ExportToExcel()"> Export to Excel</a></li>
					</ul> -->

					<!--<ul class="nav nav-tabs pull-right in" id="myTab">
						 <li class="active" onClick="javascript:SOReportObject.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li onClick="SOReportObject.Load('JDE')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gear"></i> <span
								class="hidden-mobile hidden-tablet">JDE</span></a></li>
					</ul> -->
				</header>



				<!-- widget content -->
				<div class="widget-body" class="backgroundcolorwidgetimp">

					<div class="row">

						<table class="table table-striped table-hover dc-data-table"
							id="meterialTable">
							<thead>
								<tr class="header">

									<!-- th>Id</th> -->
									<th>Report Desc</th>
									<!-- th>Description</th> -->
									<!-- th>Query</th> -->
									<!-- th>Param</th> -->
									<th>Source</th>
									<th></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<!--  <div class="alert alert-info fade in">
													<button data-dismiss="alert" class="close">x</button>
													<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
													&nbsp; Drill down table displays only top 100 records. Use
													the export option to download all matching records.
												</div>-->
			</div>
		</article>
	</div>
</section>
<div id="loading"></div>
<!-- end widget grid -->
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<header>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<div class="pull-right" style="margin-right: 10px;">
						<!-- <button type="button" class="btn btn-primary " id="btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id="btnPrintL3">Print</button> -->
						<a href="#" id="smart-mod-eg1" class="btn btn-success pull-right"
							data-toggle='modal' onclick="FinanceReport.ExportToExcel()"><i class="fa fa-upload"> Export to Excel</i></a>
					</div>
					<h4 class="modal-title" id="myModalLabel">Reports View</h4>

				</header>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">
					<div id="modalLoading"></div>
					<div id="poDocView">
						<div id="tableDiv" style="overflow: auto">
							<table id="reportTable" class="table table-hover dc-data-table"></table>
						</div>
					</div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<div class="modal fade" id="ppvReportFilterModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Filter Settings</h4>
			</div>
			<form id="ppvReportFilter" class="smart-form">
				<div class="modal-body padding10">
					<fieldset>
						<div class="row">
							<section class="col col-6">
							<label class="col col-4">Plant: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="plant" id="ppvPlant" style="width: 260px">
							</section>
							<section class="col col-6">
							<label class="col col-4">Material: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="Material" id="ppvMaterial" style="width: 260px">
							</section>
						</div>
						<div class="row">
							<section class="col col-6">
							<label class="col col-4">Year: </label>
								<i class="icon-append fa fa-sitemap"></i> <input type="text"
									name="year" id="ppvYear" style="width: 260px">
							</section>
							<section class="col col-6">
							<label class="col col-4">Month: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="month" id="ppvMonth" style="width: 260px">
							</section>
						</div>
						<div class="row">
							<section class="col col-6">
							<label class="col col-4">Supplier: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="supplier" id="ppvSupllier" style="width: 260px">
							</section>
							<section class="col col-6">
							<label class="col col-4">PO Number: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="PoNumber" id="ppvPONumber" style="width: 260px">
							</section>
						</div>
						<div class="row">
							<section class="col col-6">
							<label class="col col-4">Invoice Number: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="InvoiceNumber" id="ppvInvoiceNumber" style="width: 260px">
							</section>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<footer>
						<button id="btnDownloadReport" type="submit" class="btn btn-primary">Download</button>
					</footer>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="poReportFilterModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Filter Settings</h4>
			</div>
			<form id="poReportFilter" class="smart-form">
				<div class="modal-body padding10">
					<fieldset>
						<div class="row">
							<section class="col col-6">
							<label class="col col-4">Plant: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="plant" id="poPlant" style="width: 260px">
							</section>

							<section class="col col-6">
							<label class="col col-4">Company Code: </label>
								<i class="icon-append fa fa-sitemap"></i> <input type="text"
									name="companyCode" id="poCompanyCode" style="width: 260px">
							</section>
						</div>
						<div class="row">
							<section class="col col-6">
							<label class="col col-4">Material: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="Material" id="poMaterial" style="width: 260px">
							</section>
							<section class="col col-6">
							<label class="col col-4">Supplier: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="supplier" id="poSupllier" style="width: 260px">
							</section>
						</div>
						<div class="row">
							<section class="col col-6">
							<label class="col col-4">PO Number: </label>
								<i class="icon-append fa fa-table"></i> <input type="text"
									name="PoNumber" id="poPONumber" style="width: 260px">
							</section>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<footer>
						<button id="btnDownloadReport" type="submit" class="btn btn-primary">Download</button>
					</footer>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end widget grid -->
<script src="js/Report/FinanceReport.js"></script>