<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>User Reports</h2>
					<ul class="demo-btns">
					<li style="list-style-type: none;"><!-- <a  id="smart-mod-eg2"
							class="btn btn-primary pull-right margin-left-10"
							onclick='UserReport.sendCredentialsToUser();'><i class="fa fa-envelope" aria-hidden="true"></i> Mail </a> -->
							</li>
					    
						<li style="list-style-type: none;"><a href="#" id="smart-mod-eg1"
							class="btn btn-success pull-right"
							data-target='#myModalthredlevel' data-toggle='modal'
							onclick='UserReport.CreateView();'><i class="fa fa-plus"></i> Create User </a>
							</li>
					</ul>
					<!--<ul class="nav nav-tabs pull-right in" id="myTab">
						 <li class="active" onClick="javascript:SOReportObject.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li onClick="SOReportObject.Load('JDE')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gear"></i> <span
								class="hidden-mobile hidden-tablet">JDE</span></a></li>
					</ul> -->
				</header>



				<!-- widget content -->
				<div class="widget-body" class="backgroundcolorwidgetimp">
					<div class="row">
						<table class="table table-striped table-hover dataTable no-footer smart-form" id="userTable">
							<thead>
								<tr class="header">
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<div id="loading"></div>
<!-- end widget grid -->

<div class="modal fade" id="myModalEmail" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-510">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Send Mail </h4>

			</div>
			<form id="email-form" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-email" 
						novalidate="novalidate">
						<fieldset class="margin-20">
						<div class="smart-form ">
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="subject" placeholder="Subject" autofocus>
									<b class="tooltip tooltip-bottom-right">Add Subject Related To Mail</b>
								</label>
							</section>
							</div>
							<section>
								<label class="input" style="display:block"> <textarea name="message"
										style="width: 100%" placeholder="message" id="message"
										autofocus>  
									</textarea>
								</label>
							</section>

						</fieldset>
						<div class="smart-form">
												<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"> Cancel</i></button>
							<button type="submit" class="btn btn-primary margin-right-10" id="setEmailNotification"><i class="fa fa-share-square-o"> Send</i></button>
		</footer>
					</div>
					</div>

				</div>
			</form>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->

	</div>
</div>

<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Create User </h4>

			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="username" placeholder="Username" autofocus>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										User Name</b>
								</label>
							</section>

								<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="firstName" placeholder="First Name" autofocus>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										First Name</b>
								</label>
							</section>
							
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="lastName" placeholder="Last Name" autofocus>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Last Name</b>
								</label>
							</section>
							
							<section id="primaryRoleSection">
								<input type="text" name="primaryRole" id="primaryRole"
									style="width: 100%" placeholder="Select Primary Role"/>
							</section>
							<section>
							<label class="input"><input type="text" name="businessRole" id="businessRole"
									style="width: 100%" placeholder="Choose User Roles"/>
							</label>
								
							</section>
							<section>
								<input type="text" name="type" id="type"
									style="width: 100%" placeholder="Apps"/>
								
							</section>
								
							<section class="hide">
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" id="businessRole" style="width: 100%"/>
									</label>
							</section>
							<section>
								<label class="input"> <i
									class="icon-append fa fa-envelope-o"></i> <input type="text"
									name="emailId" id="emailId" placeholder="Email address"> <b
									class="tooltip tooltip-bottom-right">Needed to verify your
										account</b>
								</label>
							</section>

							<section class="hide">
								<label class="input"> <i class="icon-append fa fa-lock"></i>
									<input type="password" name="password" placeholder="Password"
									id="password"> <b class="tooltip tooltip-bottom-right">Don't
										forget your password</b>
								</label>
							</section>

							<section class="hide">
								<label class="input"> <i class="icon-append fa fa-lock"></i>
									<input type="password" name="passwordConfirm"
									placeholder="Confirm password"> <b
									class="tooltip tooltip-bottom-right">Don't forget your
										password</b>
								</label>
							</section>
							
							
							<section class="hide">
								<input type="text" name="selectTimeZone" id="timeZoneId"
									style="width: 100%" placeholder="Select Time Zone"/>
								
							</section>
							
							<section class="hide">
								<input type="text" name="selectDateFormat" id="dateId"
									style="width: 100%" placeholder="Select date format"/>
								
							</section>
							<section class="hide">
								<input type="text" name="selectRegion" id="region"
									style="width: 100%" placeholder="Select Region"/>
							</section>
							<section>
								<label class="textarea"> <i class="icon-append fa fa-question-circle"></i> 										
										<textarea rows="3" id="remarks" name="remarks" placeholder="Remarks"></textarea>
										<b class="tooltip tooltip-top-right"> 
											<i class="fa fa-warning txt-color-teal"></i> 
											Remarks</b> 
									</label>
							</section>
                            <section style="display: none;">
								<input type="text" name="traceabilityId" id="themes"
									style="width: 100%" placeholder="Select Theme"/>
								<!-- <label class="select">
											<select name="themeName">
												<option value="0" selected="" disabled="">Theme</option>
												<option value="smart-style-2">J&J Default</option>
												<option value="smart-style-4">Google Skin</option>
												<option value="smart-style-1">Dark Elegance</option>
												<option value="smart-style-3">Ultra Light</option>
											</select> <i></i> </label> -->
								<!-- <label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="themeName" placeholder="Theme Name">
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										theme Name</b>
								</label> -->
							</section>
							<section style="display: none;">
								<label class="checkbox"> <input type="checkbox"
									name="menuOnTop" id="menuOnTop"> <i></i>Menu on Top
								</label>
							</section>
							<section>
								<label class="checkbox"> <input type="checkbox"
									name="userEnabled" id="userEnabled"> <i></i>Enable
								</label>
							</section>
							
						</fieldset>

						<!-- <fieldset>
							<div class="row">
								<section class="col col-6">
									<label class="input"> <input type="text"
										name="firstname" placeholder="First name">
									</label>
								</section>
								<section class="col col-6">
									<label class="input"> <input type="text"
										name="lastname" placeholder="Last name">
									</label>
								</section>
							</div>

							<div class="row">
								<section class="col col-6">
									<label class="select"> <select name="gender">
											<option value="0" selected="" disabled="">Gender</option>
											<option value="1">Male</option>
											<option value="2">Female</option>
											<option value="3">Prefer not to answer</option>
									</select> <i></i>
									</label>
								</section>
								<section class="col col-6">
									<label class="input"> <i
										class="icon-append fa fa-calendar"></i> <input type="text"
										name="request" placeholder="Request activation on"
										class="datepicker hasDatepicker" data-dateformat="dd/mm/yy"
										id="dp1409209601711">
									</label>
								</section>
							</div>
						</fieldset> -->
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
						</footer>
					</div>

				</div>
			</form>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->

	</div>
</div>

<!-- end widget grid -->

<script src="js/Report/UserReport.js"></script>
<script src="js/plugin/ckeditor/ckeditor.js"></script>