<section>
	<div class="row" style="display: block;" id="myDashBoard">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<h3>Select source for Analytics</h3>
				<div class="progress progress-micro">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						style="width: 100%;"></div>
				</div>
			</div>
			<a class="col-sm-15 col-sm-3 pull-right" id="proceedDashboard">
				<div  class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
					<h5>Proceed</h5>
					<!-- <code>Profiles designed by me</code> -->
				</div>
			</a>
			<a class="col-sm-15 col-sm-3 pull-right" id="allProfiles">
				<div
					class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
					<h5>My Saved Profiles</h5>
					<code>Profiles designed by me</code>
				</div>
			</a>
		</div>
	</div>
	<!-- <div class="row" id="myDashboardProfilesDiv">
		<div class="col-sm-12">
			<div class="well padding-10">
				<h5 class="margin-top-0 col-md-3">Name</h5>
				<h5 class="margin-top-0 col-md-2 text-center">Action</h5>
				<h5 class="margin-top-0 col-md-3 text-center">Created on</h5>
				<h5 class="margin-top-0 col-md-1"></h5>
				<div class="row">
					<div class="col-lg-12">
						<ul id="myDashboardProfiles" class=" cursor-pointer">
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div> -->
	<div class="row" id="myProfiles">
	<div class="col-sm-12">
		<div class="progress progress-micro">
			<div class="progress-bar progress-bar-primary" role="progressbar"
				style="width: 100%;"></div>
		</div>
	</div>
	<div class="col-sm-12">
		<ul class="nav nav-tabs bordered profile-tabs">
			<li id="myProfileActive" class="active"><a href="#myprofilediv"
				id="myProfilediv" data-attr="myprofile" style="color: black"
				data-toggle="tab" aria-expanded="true">My Profiles<span
					class="badge bg-color-blue txt-color-white" name="myprofileCount">12</span></a></li>
			<li id="allProfileActive" class=""><a href="#allprofilediv"
				id="allProfilediv" data-attr="allprofile" data-toggle="tab"
				style="color: black" aria-expanded="false">All Profiles<span
					class="badge bg-color-blue txt-color-white" name="allprofileCount">12</span></a></li>
			<div class="col-sm-4 " style="padding-top: 2px; margin-left: 9%"
				id="selectedProfileName">
				<h4>
					<b></b>
				</h4>
			</div>
			<div class="col-sm-2 " id="appProfile"
				style="padding-top: 4px; margin-left: 10%">
				<!-- <i class=" "></i> <input type="text" name="appProfile"
					id="appProfile" style="width: 90%" /> -->
			</div>
			<!--  <div class=" pull-right "
				style="padding-top: 2px; padding-right: 1%;">
				<a class="btn btn-warning padding-left-20 padding "
					id="myProfilesBack"  href="javascript:void(0);"
					title="Back to source selection"><i class="fa fa-mail-reply"></i>
					Back</a>
			</div>-->
			<div class=" pull-right "
				style="padding-top: 2px; padding-right: 1%;">
				 <a class="btn btn-warning padding-left-20 padding "
					id="myProfilesBack1" href="javascript:void(0)"
					title="Back to source selection"><i class="fa fa-mail-reply"></i>
					Back</a>
			</div>
		</ul>
		<div class="tab-content padding-10">
			<div class="well padding-10 active in" id="myprofilediv">
				<div class="row">
					<div class="col-lg-12">

						<table
							class='table table-striped table-bordered table-hover table-responsive'
							id='myProfileTable' style="overflow: auto; width: 100%;">
						</table>
					</div>
				</div>
			</div>
			<div class="well padding-10" id="allprofilediv">
				<div class="row">
					<div class="col-lg-12">
						<table id='allProfileTable'
							class='table table-striped table-bordered table-hover table-responsive'>
						</table>
						</div>
				</div>
			</div>
		</div>

	</div>
</div>
	<div class="row" id="drawProfiles">
		<div class="col-sm-12">
			<form id="formConf" class="">
				<div class="row">
					<!-- NEW WIDGET START -->
					<article
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<!-- Widget ID (each widget will need unique ID)-->
								<div class="jarviswidget jarviswidget-color-white"
									id="wid-id-header" data-widget-editbutton="false"
									data-widget-deletebutton="false"
									data-widget-fullscreenbutton="false">
									<header>
										<span class="widget-icon"><i
											class="fa fa-fw fa-bar-chart-o"> </i></span>
										<h2 id="sourceTableDesc">Data Profiling Widget</h2>
        								<a class="btn btn-warning pull-right"
											id="profileDashboardBack" href="javascript:void(0);"
											title="Back to table selection"> <i
											class="fa fa-mail-reply"></i> Back
										</a>
										<div class="btn-group pull-right">
											<a class="padding-right-10" id="profileColorPalette"></a>
											<div class="widget-toolbar" role="menu" id="previewProfiles">
												<a href="javascript:void(0);" class="btn btn-warning"><i
													class="fa fa-fw fa-lg fa-bullseye"></i>Preview</a>
											</div>
											<div class="widget-toolbar" role="menu" id="saveProfiles">
												<a href="javascript:void(0);"
													class="btn bg-color-greenDark txt-color-white"><i
													class="fa fa-fw fa-save"></i>Save</a>
											</div>
											<div class="widget-toolbar" role="menu" id="configDashboardFilter">
												<a href="javascript:void(0);"
													class="btn btn-info txt-color-white"><i
													class="fa fa-fw fa-clone"></i> Filter </a>
											</div>
											<div class="widget-toolbar" role="menu" id="chartFilterMapping">
												<a href="javascript:void(0);"
													class="btn btn-info txt-color-white"><i
													class="fa fa-fw fa-clone"></i>Chart Filter </a>
											</div>
											<div class="widget-toolbar" role="menu">
												<div class="btn-group">
													<button class="btn dropdown-toggle btn-xs btn-warning"
														data-toggle="dropdown" aria-expanded="false">
														Add <i class="fa fa-caret-down"></i>
													</button>
													<ul class="dropdown-menu">
														<li id='addProfile'><a href="javascript:void(0);"><i
																class='fa fa-fw fa-navicon'></i>Panel</a></li>
													</ul>
												</div>
											</div>
											<span class="onoffswitch pull-left"><input
																type="checkbox" name="onoffswitch"
																class="onoffswitch-checkbox"
																id="filteronTable"> <label
																class="onoffswitch-label" for="filteronTable">
																	<span class="onoffswitch-inner"
																	data-swchon-text="QueryTable" data-swchoff-text="off"></span>
																	<span class="onoffswitch-switch"></span>
															</label> </span>
										</div>

									</header>

									<!-- widget div-->
									<div>

										<!-- widget edit box -->
										<div class="jarviswidget-editbox">
											<!-- This area used as dropdown edit box -->

										</div>
										<!-- end widget edit box -->

										<!-- widget content -->
										<div class="widget-body">
											<div class="row" id="mainDivId">
												<div
													class="col-md-12 col-sm-12 col-xs-12 sortable-grid ui-sortable">
													<!-- Widget ID (each widget will need unique ID)-->
													<div class="jarviswidget jarviswidget-color-blueDark "
														id="wid-id-filter">
														<header>
														<span class="widget-icon no-min-height"> <i
															class="fa fa-lg fa fa-filter"></i>
														</span>
														<h2>Filters</h2>
														<div class="jarviswidget-ctrls" role="menu">
															<!-- <span class="onoffswitch"><input
																type="checkbox" name="onoffswitch"
																class="onoffswitch-checkbox" id="filterShowHideswitch">
																<label class="onoffswitch-label"
																for="filterShowHideswitch"> <span
																	class="onoffswitch-inner" data-swchon-text="Hide"
																	data-swchoff-text="Show"></span> <span
																	class="onoffswitch-switch"></span>
															</label> </span> -->
															<span class="onoffswitch pull-left"><input
																type="checkbox" name="onoffswitch"
																class="onoffswitch-checkbox"
																id="filterInterdependent"> <label
																class="onoffswitch-label" for="filterInterdependent">
																	<span class="onoffswitch-inner"
																	data-swchon-text="OnInterdependentFilter" data-swchoff-text="OffInterdependentFilter"></span>
																	<span class="onoffswitch-switch"></span>
															</label> </span>
															<span class="onoffswitch pull-left"><input
																type="checkbox" name="onoffswitch"
																class="onoffswitch-checkbox"
																id="filterModalInlineswitch"> <label
																class="onoffswitch-label" for="filterModalInlineswitch">
																	<span class="onoffswitch-inner"
																	data-swchon-text="Inline" data-swchoff-text="Modal"></span>
																	<span class="onoffswitch-switch"></span>
															</label> </span>
															<span class="onoffswitch pull-left"><input
																type="checkbox" name="onoffswitch"
																class="onoffswitch-checkbox"
																id="offFilterMap"> <label
																class="onoffswitch-label" for=offFilterMap>
																	<span class="onoffswitch-inner"
																	data-swchon-text="OnFilter" data-swchoff-text="off"></span>
																	<span class="onoffswitch-switch"></span>
															</label> </span>
															<div
																class="smart-form button-icon jarviswidget-toggle-btn margin-left-5">
																<label class="checkbox txt-color-white"> <input
																	type="checkbox" id="filterShowHide"> <i></i>Hide
																	Filter
																</label>
															</div>
															<div
																class="smart-form button-icon jarviswidget-toggle-btn margin-left-5">
																<label class="checkbox txt-color-white"> <input
																	type="checkbox" id="enablePdf"> <i></i>download
																	Pdf
																</label>
															</div>
															<span class="collapsefilter"> <a
																href="javascript:void(0);"
																class="button-icon jarviswidget-toggle-btn"
																rel="tooltip" title="" data-placement="bottom"
																data-original-title="Collapse"><i
																	class="fa fa-minus"></i></a></span>
														</div>


													</header>
													<!-- 	<header>
															<span class="widget-icon no-min-height"> <i
																class="fa fa-lg fa fa-filter"></i>
															</span>
															<h2>Filters</h2>
															<div class="jarviswidget-ctrls" role="menu">
																<span class="collapsefilter"> <a
																	href="javascript:void(0);"
																	class="button-icon jarviswidget-toggle-btn"
																	rel="tooltip" title="" data-placement="bottom"
																	data-original-title="Collapse"><i
																		class="fa fa-minus"></i></a></span> <span
																	class="onoffswitch pull-right"><input
																	type="checkbox" name="onoffswitch"
																	class="onoffswitch-checkbox"
																	id="filterModalInlineswitch"> <label
																	class="onoffswitch-label" for="filterModalInlineswitch">
																		<span class="onoffswitch-inner"
																		data-swchon-text="Inline" data-swchoff-text="Modal"></span>
																		<span class="onoffswitch-switch"></span>
																</label> </span>
															</div>


														</header> -->
														<div class="profile-filters">
															<div class="jarviswidget-editbox"></div>
															<div class="widget-body no-min-height smart-form"
																id="filters"></div>
														</div>
														<!-- adding date range popup -->
													<div id="dialog" title="Date Range"
														style="width: 500px; height: 250px; display: none">
														<ul class="nav nav-tabs" id="myTab">
															<li class="active"><a data-toggle="tab" href="#year"
																data-attr="year" style="color: #a90329">Year</a></li>
															<li><a data-toggle="tab" href="#quarter"
																data-attr="quarter" style="color: #a90329">Quarter</a></li>
															<li><a data-toggle="tab" href="#month"
																data-attr="month" style="color: #a90329">Month</a></li>
															<li><a data-toggle="tab" href="#week"
																data-attr="week" style="color: #a90329">Week</a></li>
															<li><a data-toggle="tab" href="#day" data-attr="day"
																style="color: #a90329">Day</a></li>
														</ul>
														<div class="tab-content">

															<div id="day" class="tab-pane fade ">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="previousDay"
																			value="previousDay"> <label for="previousDay">Yesterday</label>
																			<br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="lastRangeId"
																			value="lastRangeValue" style="margin-left: 20px;">
																			<label for="lastRangeId">Last</label></td>
																		<td><input type="number" min="1"
																			id="dayLastRange" name="day"
																			data-value="lastRangeValue" class="lastRange"
																			style="width: 50px; margin-left: 20px;"> days
																		</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="currentDay"
																			value="currentDay"><label for="currentDay">Today</label>
																			<br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="nextRangeDay"
																			value="nextRangeValue" style="margin-left: 20px;">
																			<label for="nextRangeDay"> Next</label><br></td>
																		<td><input type="number" min="1" name="day"
																			id="dayNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;"> days</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="day" id="nextDay" value="nextDay">
																			<label for="nextDay">Tomorrow</label></td>
																	</tr>
																</table>
																<hr>
															</div>

															<div id="year" class="tab-pane fade in active">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="previousYear"
																			value="previous"><label for="previousYear">Previous
																				Year</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="lastRangeYear"
																			value="lastRangeValue" style="margin-left: 20px;"><label
																			for="lastRangeYear">Last</label></td>
																		<td><input type="number" name="year" min="1"
																			id="yearLastRange" data-value="lastRangeValue"
																			class="lastRange"
																			style="width: 50px; margin-left: 20px;">
																			years</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="currentYear"
																			value="current"><label for="currentYear">Current
																				Year</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="nextRangeYear"
																			value="nextRangeValue" style="margin-left: 20px;"><label
																			for="nextRangeYear">Next</label> <br></td>
																		<td><input type="number" name="year" min="1"
																			id="yearNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;">
																			years</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="year" id="nextYear" value="next"><label
																			for="nextYear">Next Year</label></td>
																	</tr>
																</table>
																<hr>
															</div>

															<div id="month" class="tab-pane fade ">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" id="previousMonth" name="month"
																			value="previous"><label for="previousMonth">Previous
																				Month</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="lastRangeMonth"
																			value="lastRangeValue" style="margin-left: 20px;"><label
																			for="lastRangeMonth">Last</label></td>
																		<td><input type="number" name="month" min="1"
																			id="monthLastRange" data-value="lastRangeValue"
																			class="lastRange"
																			style="width: 50px; margin-left: 20px;">
																			months</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="currentMonth"
																			value="current"><label for="currentMonth">Current
																				Month</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="nextRangeMonth"
																			value="nextRangeValue" style="margin-left: 20px;"><label
																			for="nextRangeMonth">Next</label> <br></td>
																		<td><input type="number" name="month" min="1"
																			id="monthNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;">
																			months</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="month" id="nextMonth" value="next"><label
																			for="nextMonth">Next Month</label></td>
																	</tr>
																</table>
																<hr>
															</div>

															<div id="quarter" class="tab-pane fade ">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="previousQuarter"
																			value="previous"><label for="previousQuarter">Previous
																				Quarter</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="lastRangeQuarter"
																			value="lastRangeValue" style="margin-left: 20px;"><label
																			for="lastRangeQuarter">Last</label></td>
																		<td><input type="number" name="quarter" min="1"
																			id="quarterLastRange" data-value="lastRangeValue"
																			class="lastRange"
																			style="width: 50px; margin-left: 20px;">
																			quarters</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="currentQuarter"
																			value="current"><label for="currentQuarter">Current
																				Quarter</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="nextRangeQuarter"
																			value="nextRangeValue" style="margin-left: 20px;"><label
																			for="nextRangeQuarter">Next</label> <br></td>
																		<td><input type="number" name="quarter" min="1"
																			id="quarterNextRange" data-value="nextRangeValue"
																			class="nextRange"
										 									style="width: 50px; margin-left: 20px;">
																			quarters</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="quarter" id="nextQuarter"
																			value="next"><label for="nextQuarter">Next
																				Quarter</label></td>
																	</tr>
																</table>
																<hr>
															</div>

															<div id="week" class="tab-pane fade ">
																<table style="margin-top: 10px;">
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="previousWeek"
																			value="previous"><label for="previousWeek">Previous
																				Week</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="lastRangeWeek"
																			value="lastRangeValue" style="margin-left: 20px;"><label
																			for="lastRangeWeek">Last</label></td>
																		<td><input type="number" name="week" min="1"
																			id="weekLastRange" data-value="lastRangeValue"
																			class="lastRange"
																			style="width: 50px; margin-left: 20px;">
																			weeks</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="currentWeek"
																			value="current"><label for="currentWeek">Current
																				Week</label> <br></td>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="nextRangeWeek"
																			value="nextRangeValue" style="margin-left: 20px;"><label
																			for="nextRangeWeek">Next</label> <br></td>
																		<td><input type="number" name="week" min="1"
																			id="weekNextRange" data-value="nextRangeValue"
																			class="nextRange"
																			style="width: 50px; margin-left: 20px;">
																			weeks</td>
																	</tr>
																	<tr>
																		<td style="padding-left: 20px;"><input
																			type="radio" name="week" id="nextWeek" value="next"><label
																			for="nextWeek">Next Week</label></td>
																	</tr>
																</table>
																<hr>
															</div>
															<div id="savedRange">
																<span></span>
																<button type="button"
																	class="btn btn-primary saveYear pull-right">
																	Save</button>
															</div>

														</div>

													</div>

													<!--  date range popup -->
													</div>
												</div>
												<div
													class="col-md-12  col-sm-12 col-xs-12 sortable-grid ui-sortable">
													<!-- Widget ID (each widget will need unique ID)-->
													<div class="jarviswidget jarviswidget-color-light "
														id="wid-id-profile">
														<header>
															<span class="widget-icon"> <i
																class="glyphicon glyphicon-stats txt-color-darken"></i>
															</span>
															<h2>Profile View</h2>
															<div class="jarviswidget-ctrls" role="menu">
																<a href="javascript:void(0);"
																	class="button-icon jarviswidget-fullscreen-btn"
																	rel="tooltip" title="" data-placement="bottom"
																	data-original-title="Fullscreen"><i
																	class="fa fa-expand"></i></a>
															</div>
														</header>
														<div>

															<div class="jarviswidget-editbox">
																<input class="form-control" type="text"> <span
																	class="note"><i class="fa fa-check text-success"></i>
																	Change title to update and save instantly!</span>
															</div>
															<div class="widget-body">
																<div class="row">
																	<section id="widget-grid" class="">
																		<div class="col-sm-12 no-padding" id="droppable">
																			<article
																				class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
																			</article>
																		</div>
																	</section>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</form>
		</div>
	</div>
	<div class="row" id="dataAnalyserProfile" style="display:none">
		<!-- NEW WIDGET START -->
		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
			<div class="jarviswidget  jarviswidget-sortable">
				<header role="heading">
				<span class="widget-icon">
					<i class="fa fa-fw fa-bar-chart-o"> </i>
				</span>
					<h2></h2><a
						class="btn btn-primary pull-right" href="javascript:void(0);"
						id="editProfiles"><i class="fa fa-fw fa-edit"></i>Edit</a>
				</header>
			</div>
		</div>
		<article class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
			<div class="backgroundcolorwidgetimp" id="wid-id-profiling">
				<!-- widget edit box -->
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->
				</div>
				<!-- end widget edit box -->
				<!-- widget content -->
				<section class="">
					<div class="widget-body row" id="profileDashboardContainer">
						<div id="results" class="col-md-6 col-xs-6 col-sm-6 col-lg-6"></div> 
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup"></div>
						</div> 
					</div>
				</section>
			</div>
		</article>
		<div class="" id="sankeyProfile" style="display: none">
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueLight" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
            <header>
                <span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
				</i></span>
                <h2>Sankey</h2>
                <ul class="nav nav-tabs pull-right in" id="myTab">
                    <li>
                        <div class="showAll widget-toolbar" onClick="panZoomsvgObject.resetZoom();$(this).hide();">
                            <i class="fa fa-rotate-left"></i> Reset Zoom
                        </div>
                    </li>
                    <li>
                        <div class="widget-toolbar">
                            <span class="onoffswitch-title"> Sankey Zoom</span> <span class="onoffswitch"><input type="checkbox"
								name="onoffswitch" class="onoffswitch-checkbox"
								id="sankeyZoomOnOffswitch"> <label
								class="onoffswitch-label" for="sankeyZoomOnOffswitch"> <span
									class="onoffswitch-inner" data-swchon-text="ON"
									data-swchoff-text="OFF"></span> <span class="onoffswitch-switch"></span>
                            </label>
                            </span>
                        </div>
                    </li>
                    <li><span id="filter" class="pull-right"><i
							class="fa fa-filter">| Filter</i></span></li>
                </ul>
            </header>
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <section class="">
                    <div id="sankeyInlineFilter" class="">
                        <div class="jarviswidget jarviswidget-color-blueLight" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
                            <header>
                                <span class="widget-icon"><i
									class="fa fa-fw fa-bar-chart-o"> </i></span>
                                <h2>Filter</h2>
                            </header>
                            <div class="">
                                <!-- <div class="jarviswidget-editbox">
										backgroundcolorwidgetimp
									</div> -->
                                <div class="widget-body">
                                    <div id="sankeyFilterContent" class="padding10 margin-20"></div>
                                    <div class="padding10 margin-20">
                                        <button id="applyFilter" name="applyFilter" type="submit" class="btn btn-primary pull-right">Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup"></div>
						</div> -->
                </section>
                <div class="widget-body row">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in no-padding-bottom" id="materialgroup"></div>
                        <div id='sankey' class="flowdiagram">&nbsp;</div>
                    </div>
                    <div class="col-sm-12" id="dataTableDiv">
                        <div class="col-sm-12 jarviswidget jarviswidget-color-blueLight">
                            <header style="display: none">
                                <h2>Sankey Data Grid</h2>
                                <a class="btn btn-success btn-sm pull-right" href="javascript:void(0);" id="downloadExcel" title="Download data in XLS format" data-datatable="#sankeyDataGrid"> <i class="fa fa-fw fa-cloud-download"></i>Excel
                                </a>
                                <a class="btn btn-success btn-sm pull-right margin-right-5" href="javascript:void(0);" id="downloadCSV" title="Download data in CSV format" data-datatable="#sankeyDataGrid"> <i class="fa fa-fw fa-cloud-download"></i>CSV
                                </a>
                            </header>
                            <div class="backgroundcolorwidgetimp">
                                <table id="sankeyDataGrid" class="table table-striped table-hover dc-data-table">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- </div> -->
</div>
	</div>
	<div class="modal fade" id="myModalthredlevel" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog width-500">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Profile Details</h4>
				</div>
				<form id="frmSaveProfiles" class="">
					<div class="modal-body no-padding">

						<div action="" id="smart-form-register" class="smart-form "
							novalidate="novalidate">
							<fieldset>
								<section>
									<label class="input"> <i class="icon-append fa fa-user"></i>
										<input type="text" name="profilename" id="profilename"
										placeholder="Profile name"> <b
										class="tooltip tooltip-bottom-right">Needed to enter the
											Profile display name</b>
									</label>
								</section>
								<section>
									<label class="input"> <i class="icon-append fa fa-user"></i>
										<input type="text" name="appname" id="appname"
										placeholder="App name"> <b
										class="tooltip tooltip-bottom-right">Needed to enter the
											Profile display name</b>
									</label>
								</section>
								<section>
									<label class="textarea"> <i
										class="icon-append fa fa-comment"></i> <textarea rows="4"
											name="description" id="description" placeholder="Description"></textarea>
										<b class="tooltip tooltip-bottom-right">Needed to enter
											the Description</b>
									</label>
								</section>
							</fieldset>
							<footer>
								<button type="button" class="btn btn-warning"
									data-dismiss="modal" aria-hidden="true">Cancel</button>
								<button type="submit" class="btn btn-primary" id="btnCreate">Save</button>
							</footer>
						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<div id="loading"></div>
	
	<!-- <script src="js/DataAnalyser/SankeyGenerator.js"></script> -->
	<div class="modal fade" id="myModalConfigFilter" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<a type="button" class="btn btn-primary " id="btnSaveFilter">Save</a>
					<a class="cursor-pointer" name="btnAddFilter" title="Add Filter"><i class="fa fa-fw fa-2x fa-plus-circle"></i></a>
				</div>
				<h4 class="modal-title" id="myModalLabel">Map Filters</h4>
			</div>
			<form id="frmConfigFilter" class="">
				<div class="panel panel-success  padding-top-10" name="divConfigFilter">
					
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="myModalChartFilter" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<a type="button" class="btn btn-primary " id="btnSaveChartFilter">Save</a>
					<a class="cursor-pointer" name="btnAddFilter" title="Add Filter"><i class="fa fa-fw fa-2x fa-plus-circle"></i></a>
				</div>
				<h4 class="modal-title" id="myModalLabel">Map Chart Filters</h4>
			</div>
			<form id="frmChartFilter" class="">
				<div class="panel panel-success  padding-top-10" name="divChartFilter">
					
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
</section>
<script src="js/profileAnalyser/profileAnalyser.js"></script>
	<script src="js/DataAnalyser/DataAnalyser.js"></script>
<script src="js/DataAnalyser/ProfileUtilty.js"></script>

