<!-- widget grid -->

	<!-- row -->
	<div class="row">
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Manual GL Profiling</h2>
					<ul class="nav nav-tabs pull-right in" id="myTab">
						<!-- <li class="active"
							onClick="javascript:manualGLProfiling.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li onClick="manualGLProfiling.Load('JDE')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gear"></i>
								<span class="hidden-mobile hidden-tablet">JDE</span></a></li>
								<li onClick="manualGLProfiling.Load('GP')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-plane"></i> <span
								class="hidden-mobile hidden-tablet">GP</span></a></li> -->
					</ul>
				</header>
				<div class="backgroundcolorwidgetimp">
					<section id="widget-grid" class="">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body" class="backgroundcolorwidgetimp">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup">
								<div class="row" id="mainDivId">
									<div class="col-md-3">
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-1" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-sortable="false" >
											<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
								
								data-widget-colorbutton="false"	
								data-widget-editbutton="false"
								
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true" 
								data-widget-sortable="false"
								
							-->
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Doc Type</h2>
											</header>

											<!-- widget div-->
											<div>
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div id="row-chart">
														<a class="reset"
															href="javascript:manualGLProfiling.horzBarChart.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
												</div>
												<!-- end widget content -->
											</div>
										</div>
										<!-- end widget -->
									</div>
									<div class="col-md-9">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-2" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Manual GL Analytics by Dimensions</h2>
												<div id="getByChoice" class="btn-group pull-right"
													data-toggle="buttons">
													<label style="width: 79px;"
														onClick="javascript:manualGLProfiling.loadViewType('materialCount')"
														class="btn btn-default btn-sm"
														data-source="netvalue"> <input type="radio"
														name="checkbox-style" id="checkbox-style-1"
														value="switch-1"><i>GL Count</i>
													</label>
													 <label
														onClick="javascript:manualGLProfiling.loadViewType('netvalue')"
														class="btn btn-default btn-sm active" data-source="netvalue">
														<input type="radio" name="checkbox-style"
														id="checkbox-style-2" value="switch-2"> <i>Net Value</i>
													</label>
													

												</div>
											</header>

											<!-- widget div-->
											<div style="background: #FFFFFF">

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>

												<!-- widget content -->
												<div class="widget-body">
													<div id="pie-chart-CompanyCode" class="col-md-4"
														align="center">
														<div class="axisLabel">Company Code</div>
														 <a class="reset"
															href="javascript:manualGLProfiling.pieChartCompanyCode.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-AccountGroup" class="col-md-4"
														align="center">
														<div class="axisLabel">Account Group</div>
														 <a class="reset"
															href="javascript:manualGLProfiling.pieChartAccGroup.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-Reversal" class="col-md-4"
														align="center">
														<div class="axisLabel">Reversal</div>
														 <a class="reset"
															href="javascript:manualGLProfiling.pieChartReversal.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
										<!-- end widget -->

										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-3" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>

											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i> </span>
												<h2>Manual GL Analytics by Dimensions</h2>
											</header>

											<!-- widget div-->
											<div style="background: #FFFFFF">
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div id="pie-chart-TradingPartner" class="col-md-4"
														align="center">
														<div class="axisLabel">Trading Partner</div>
														<a class="reset"
															href="javascript:manualGLProfiling.pieChartTradPartner.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-TCode" class="col-md-4" align="center">
													<div class="axisLabel">T Code</div>
														 <a class="reset"
															href="javascript:manualGLProfiling.pieChartTCode.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-UserId" class="col-md-4" align="center">
													<div class="axisLabel">User Id</div>
														<a class="reset"
															href="javascript:manualGLProfiling.pieChartUserId.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<!--	<div id="pieChartreversal" class="col-md-4" align="center">
									<strong>Reversal</strong> <a class="reset"
										href="javascript:pieChartreversal.filterAll();dc.redrawAll();"
										style="display: none;">reset</a>
									<div class="clearfix"></div>
								</div>-->

												</div>
												<!--	 end widget content -->

											</div>
											<!-- end widget div -->

										</div>
										<!-- Widget ID (each widget will need unique ID)-->

									</div>
								</div>
								<div id="loading"
									style="left: 40%; position: absolute; top: 200px;"></div>
								<div class="row">
									<div class="col-md-12">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-4" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"> <i
													class="fa fa-fw fa-bar-chart-o"> </i>
												</span>
												<h2>Manual GL Amount by month</h2>
											</header>

											<!-- widget div-->
											<div>
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div class="row">
														<div id="timeline-area-chart">
															<span class="reset" style="display: none;">range:
																<span class="filter"></span>
															</span> <a class="reset"
																href="javascript:manualGLProfiling.timelineAreaChart.filterAll();manualGLProfiling.timelineChart.filterAll();dc.redrawAll();"
																style="display: none;">reset</a>
															<div class="clearfix"></div>
														</div>
													</div>
													<div class="row">
														<div id="timeline-chart"></div>
													</div>
													<div class="row" style="width: 900px;">
														<p class="muted pull-right">select a time range to
															zoom in</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-5" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Detail view</h2>
												<div>
													<div class="dc-data-count">
														<!-- <span class="filter-count"></span>
														 selected out of <span
															class="total-count"></span> records | --> <a
															href="javascript:dc.filterAll(); dc.renderAll();">Reset
															All</a>
													</div>
												</div>
											</header>

											<!-- widget div-->
											<div>
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div class="row">
														<!-- <div>
															<div class="dc-data-count">
																<span class="filter-count"></span> selected out of <span
																	class="total-count"></span> records | <a
																	href="javascript:dc.filterAll(); dc.renderAll();">Reset
																	All</a>
															</div>
														</div> -->
														<table class="table table-hover dc-data-table">
															<thead>
																<tr class="header">
																	<th></th>
																	<th>GL Count</th>
																	<th>Company Code</th>
																	<th>Doc Type</th>
																	<th>Acc Group</th>
																	<th>Trade Partner</th>
																	<th>User Id</th>
																	<th>T Code</th>
																	<th>Reversal</th>
																	<th>GL Amount</th>
																	<th>Date</th>
																</tr>
															</thead>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				</div>
			</div>
		</article>
	</div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id="btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id="btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">Manual GL
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end widget grid -->

<script src="js/Profiling/e2e_Manual_GL.js">
	
</script>
