		
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Jira Profiling</h2>
					<ul class="nav nav-tabs pull-right in" id="myTab">
						<!-- <li class="active" onClick="javascript:soProfiling.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li onClick="soProfiling.Load('JDE')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gear"></i> <span
								class="hidden-mobile hidden-tablet">JDE</span></a></li>
								
								<li onClick="soProfiling.Load('GP')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-plane"></i> <span
								class="hidden-mobile hidden-tablet">GP</span></a></li> -->
					</ul>
				</header>
				<div class="backgroundcolorwidgetimp">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body" class="backgroundcolorwidgetimp">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup">
								<div class="row" id="mainDivId">
									<div class="col-md-3">
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-1" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-sortable="false" data-widget-togglebutton="false">
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Project</h2>
											</header>

											<!-- widget div-->
											<div>
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div id="row-chart-Project">
														<a class="reset"
															href="javascript:soProfiling.horzBarChartProject.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
												</div>
												<!-- end widget content -->
											</div>
										</div>
										<!-- end widget -->
									</div>
									<div class="col-md-9">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-2" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-togglebutton="false">
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Jira Analytics by Dimensions</h2>
												<div id="getByChoice" class="btn-group pull-right"
													data-toggle="buttons">
													 <!-- <label
														onClick="javascript:soProfiling.loadViewType('materialCount')"
														class="btn btn-default btn-sm active" data-source="materialCount">
														<input type="radio" name="checkbox-style"
														id="checkbox-style-2" value="switch-2"> <i>SO
															Count</i>
													</label>
													<label style="width: 79px;"
														onClick="javascript:soProfiling.loadViewType('netvalue')"
														class="btn btn-default btn-sm"
														data-source="netvalue"> <input type="radio"
														name="checkbox-style" id="checkbox-style-1"
														value="switch-1"><i>Net Value</i>
													</label> -->

												</div>
											</header>

											<!-- widget div-->
											<div style="background: #FFFFFF">

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>

												<!-- widget content -->
												<div class="widget-body">
													<div id="pie-chart-IssueType" class="col-md-4"
														align="center">
														<div class="axisLabel">Issue Type</div>
														<a class="reset"
															href="javascript:soProfiling.pieChartIssueType.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-Status" class="col-md-4" align="center">
														<div class="axisLabel">Status</div> <a class="reset"
															href="javascript:soProfiling.pieChartStatus.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-FixVersions" class="col-md-4"
														align="center">
														<div class="axisLabel">Fix Versions</div> <a class="reset"
															href="javascript:soProfiling.pieChartFixVersions.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<!-- <div id="pie-chart-SalesGroup" class="col-md-3"
														align="center">
														<div class="axisLabel">Sales Group</div> <a class="reset"
															href="javascript:soProfiling.pieChartSalesGroup.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div> -->
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
										<!-- end widget -->

										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-3" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-togglebutton="false">

											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i> </span>
												<h2>Jira Analytics by Dimensions</h2>
											</header>

											<!-- widget div-->
											<div style="background: #FFFFFF">
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->
												<div class="widget-body">
													<div id="pie-chart-Priority" class="col-md-4"
														align="center">
														<div class="axisLabel">Priority</div> <a class="reset"
															href="javascript:soProfiling.pieChartPriority.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<!-- widget content -->

													<div id="pie-chart-Resolution" class="col-md-4"
														align="center">
														<div class="axisLabel">Resolution</div> <a class="reset"
															href="javascript:soProfiling.pieChartResolution.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<div id="row-Chart-Assignee" class="col-md-4"
														align="center">
														<div class="axisLabel">Assignee</div> <a class="reset"
															href="javascript:soProfiling.rowChartAssignee.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													
													<!-- <div id="pie-chart-OrderReason" class="col-md-3"
														align="center">
														<div class="axisLabel">Order Reason</div> <a class="reset"
															href="javascript:soProfiling.pieChartOrderReason.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div> -->
													
													
													
												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>
										
										<!--  new widget 3 -->
										
									<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-4" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-togglebutton="false">

											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i> </span>
												<h2>Jira Analytics by Dimensions</h2>
											</header>

											<!-- widget div-->
											<div style="background: #FFFFFF">
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->
												<div class="widget-body">
													<div id="pie-chart-Components" class="col-md-4"
														align="center">
														<div class="axisLabel">Components</div> <a class="reset"
															href="javascript:soProfiling.pieChartComponents.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-EpicTheme" class="col-md-4"
														align="center">
														<div class="axisLabel">Epic Theme</div> <a class="reset"
															href="javascript:soProfiling.pieChartEpicTheme.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
													<div id="pie-chart-Reporter" class="col-md-4"
														align="center">
														<div class="axisLabel">Reporter</div> <a class="reset"
															href="javascript:soProfiling.pieChartReporter.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
										</div>
										</div>
										</div>
										
										
										<!--  new widget 3 end -->
										
										
										<!-- Widget ID (each widget will need unique ID)-->

									</div>
								</div>
								<div id="loading"></div>
								<div class="row">
									<div class="col-md-12">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-4" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-togglebutton="false">
											<header>
												<span class="widget-icon"> <i
													class="fa fa-fw fa-bar-chart-o"> </i>
												</span>
												<h2>Details by month</h2>
											</header>

											<!-- widget div-->
											<div>
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div class="row">
														<div id="timeline-area-chart1">
															<span class="reset" style="display: none;">range:
																<span class="filter"></span>
															</span> <a class="reset"
																href="javascript:soProfiling.timelineAreaChart1.filterAll();soProfiling.timelineChart.filterAll();dc.redrawAll();"
																style="display: none;">reset</a>
															<div class="clearfix"></div>
														</div>
													</div>
													<div class="row">
														<div id="timeline-chart"></div>
													</div>
													<div class="row" style="width: 900px;">
														<p class="muted pull-right">select a time range to
															zoom in</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-5" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-togglebutton="false">
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Detail view</h2>

												<div>
													<div class="dc-data-count">
														<!-- <span class="filter-count"></span> selected out of <span
															class="total-count"></span> records |  --><a
															href="javascript:dc.filterAll(); dc.renderAll();">Reset
															All</a>
													</div>
												</div>
											</header>

											<!-- widget div-->
											<div>
												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div class="row padding-top-30">
														<table class="table table-hover dc-data-table">
															<thead>
																<tr class="header">
																	<th></th>
																	<th>SO Count</th>
																	<th>Company Code</th>
																	<th>Division</th>
																	<th>Plant</th>
																	<th>Material Type</th>
																	<th>Sales DocType</th>
																	<th>Sales Org</th>
																	<th>Sales Group</th>
																	<th>Net Value</th>
																	<th>SO Type</th>
																	<th>Last Changed</th>
																</tr>
															</thead>
														</table>
													</div>
												</div>
												<div class="alert alert-info fade in">
													<button data-dismiss="alert" class="close">x</button>
													<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
													&nbsp; Drill down table displays only top 100 records. Use
													the export option to download all matching records.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id = "btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id = "btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">Sales Order Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script src="js/Profiling/e2e_JiraProfiling.js"></script>