<link rel="stylesheet" type="text/css" media="screen"
	href="css/codemirror.css">
<div class="row">
	<!-- NEW WIDGET START -->
	<div class="row" id="selectWidget" style="display: block;">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<h3>Select source for Analytics</h3>
				<div class="progress progress-micro">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						style="width: 100%;"></div>
				</div>
			</div>
			<div class="col-sm-15 col-sm-3" data-source="hive">
				<div
					class="btn well well-sm bg-color-darken txt-color-white text-center width-100per">
					<h5>
						<i class="fa fa-fw fa-cloud"></i>HIVE
					</h5>
					<code> Table stored in hadoop</code>
				</div>
			</div>
			<div class="col-sm-15 col-sm-3" data-source="postgreSQL">
				<div
					class="btn well well-sm bg-color-teal txt-color-white text-center width-100per">
					<h5>
						<i class="fa fa-fw fa-database"></i>PostgreSQL
					</h5>
					<code> Table stored in PostgreSQL</code>
				</div>
			</div>
			<div class="col-sm-15 col-sm-3" data-source="myProfiles">
				<div
					class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
					<h5>My Saved Profiles</h5>
					<code>Profiles designed by me</code>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12" style="display: none" id="selectTemplate">
		<form id="frmConf" class="" novalidate="novalidate">
			<div class="col-sm-12">
				<h3>Select database and table</h3>
				<div class="progress progress-micro">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						style="width: 44%;"></div>
				</div>
			</div>
			<div class="col-sm-4">
				<i class="icon-append fa fa-barcode"></i> <input type="text"
					name="database" id="database" style="width: 90%;" title=""
					tabindex="-1">
			</div>
			<div class="col-sm-4">
				<i class="icon-append fa fa-barcode"></i> <input type="text"
					name="table" id="profileTemplate" style="width: 90%;" title=""
					tabindex="-1">
			</div>

			<div class="col-sm-4">
				<a class="btn btn-primary" href="javascript:void(0);" id="proceed"><i
					class="fa fa-save"></i> Proceed</a> <a
					class="btn btn-warning padding-left-20" id="tableBack"
					href="javascript:void(0);" title="Back to source selection"><i
					class="fa fa-mail-reply"></i> Back</a>
			</div>
		</form>
	</div>
	<div id="myprofiles" style="display: none">
		<div class="well padding-10">
			<h5 class="margin-top-0 col-md-3">Name</h5>
			<h5 class="margin-top-0 col-md-3">Source</h5>
			<h5 class="margin-top-0 col-md-3">Modified By</h5>
			<h5 class="margin-top-0 col-md-3">Modified on</h5>
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-group no-margin cursor-pointer" id="myProfileList">
					</ul>
				</div>
			</div>
		</div>

	</div>
	<article class="col-md-12 col-xs-12 col-sm-12 col-lg-12"
		style="display: none" id="profileTemplateTable">
		<div class="jarviswidget jarviswidget-color-white"
			data-widget-editbutton="false" data-widget-deletebutton="false"
			data-widget-fullscreenbutton="false">
			<header>
				<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
				</i></span>
				<h2 id="sourceTableDesc"></h2>

				<div class="btn-group pull-right">
					<a class="btn btn-warning pull-right" id="profileBack"
						href="javascript:void(0);" title="Back to table selection"> <i
						class="fa fa-mail-reply"></i> Back
					</a>
					<div class="widget-toolbar" role="menu" id="saveProfile">
						<a href="javascript:void(0);" id="saveProfile"
							class="btn bg-color-greenDark txt-color-white"><i
							class="fa fa-fw fa-save"></i>Save</a>
					</div>
					<div class="widget-toolbar" role="menu" id="excuteQuery">
						<a href="javascript:void(0);"
							class="btn btn-warning txt-color-white"><i
							class="fa fa-fw fa-save"></i>Excute</a>
					</div>
					<div class="widget-toolbar" role="menu" id="resetProfile">
						<a href="javascript:void(0);" 
							class="btn btn-info txt-color-white"><i
							class="fa fa-fw fa-save"></i>Reset</a>
					</div>

				</div>

			</header>
			<div class="widget-body">
				<div class="jarviswidget jarviswidget-color-light "
					id="tableSection">
					<header>
						<div class="jarviswidget-ctrls" role="menu">
							<a href="javascript:void(0);"
								class="button-icon jarviswidget-toggle-btn" rel="tooltip"
								title="" data-placement="bottom" data-original-title="Collapse"
								aria-describedby="tooltip126344"><i class="fa fa-minus "></i></a>
						</div>
						<span class="widget-icon"> <i
							class="glyphicon glyphicon-stats txt-color-darken"></i>
						</span>
						<h2>Table Section</h2>
					</header>
					<div class="widget-body" style="min-height: 100px">
						<div class="col-sm-11">
							<form class="row smart-form" id="configTable"></form>
						</div>
						<a class="btn btn-primary pull-right margin-10-0"
							href="javascript:void(0);" id="btnSelectTable"><i
							class="fa fa-arrow-right"></i>Go</a>
					</div>
				</div>

				<div class="jarviswidget jarviswidget-color-light "
					name="templateBasicView" style="display: none">
					<header>
						<div class="jarviswidget-ctrls" role="menu">
							<a href="javascript:void(0);"
								class="button-icon jarviswidget-toggle-btn" rel="tooltip"
								title="" data-placement="bottom" data-original-title="Collapse"
								aria-describedby="tooltip126344"><i class="fa fa-minus "></i></a>
						</div>
						<span class="widget-icon"> <i
							class="glyphicon glyphicon-stats txt-color-darken"></i>
						</span>
						<h2>Query Section</h2>
					</header>
					<div class="widget-body">
						<div class="row" id="configQuery">
							<form>
								<div class="form-bootstrapWizard col-sm-12">
									<ul class="bootstrapWizard form-wizard"></ul>
								</div>
								<div class="tab-content col-sm-12" name="querytabs"></div>
							</form>
						</div>
					</div>
				</div>


				<!-- <div class="jarviswidget jarviswidget-color-light "
					name="templateBasicView">
					<header>
						<div class="jarviswidget-ctrls" role="menu">
							<a href="javascript:void(0);"
								class="button-icon jarviswidget-toggle-btn" rel="tooltip"
								title="" data-placement="bottom" data-original-title="Collapse"
								aria-describedby="tooltip126344"><i class="fa fa-minus "></i></a>
						</div>
						<span class="widget-icon"> <i
							class="glyphicon glyphicon-stats txt-color-darken"></i>
						</span>
						<h2>Screen 2</h2>
					</header>
					<div class="widget-body">
						<div class="row smart-form" id="configTable"></div>
					</div>
				</div> -->
				<!-- <div class="jarviswidget jarviswidget-color-light "
					name="templateBasicView">
					<header>
						<div class="jarviswidget-ctrls" role="menu">
							<a href="javascript:void(0);"
								class="button-icon jarviswidget-toggle-btn" rel="tooltip"
								title="" data-placement="bottom" data-original-title="Collapse"
								aria-describedby="tooltip126344"><i class="fa fa-minus "></i></a>
						</div>
						<span class="widget-icon"> <i
							class="glyphicon glyphicon-stats txt-color-darken"></i>
						</span>
						<h2>Screen 3</h2>
					</header>
					<div class="widget-body"></div>
				</div> -->

			</div>
		</div>
	</article>
</div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Profile Details</h4>
			</div>
			<form id="frmSaveProfile" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="profilename" id="profilename"
									placeholder="Profile name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Profile display name</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="appname" id="appname"
									placeholder="App name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Profile display name</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i
									class="icon-append fa fa-comment"></i> <textarea rows="4"
										name="description" id="description" placeholder="Description"></textarea>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Description</b>
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Save</button>
						</footer>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script src="js/plugin/codemirror.js"></script>
<script src="js/plugin/sql.js"></script>
<script src="js/profileTemplate/profileTemplateView.js"></script>