<link rel="stylesheet" type="text/css" media="screen"
	href="js/plugin/fullcalendar/fullcalendar.min.css">
<div class="row" id="dataAnalyserProfile" style="display: none">
	<!-- NEW WIDGET START -->
	<article class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
		<!-- <div class="jarviswidget jarviswidget-color-blueLight"
			id="wid-id-profiling" data-widget-editbutton="false"
			data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
			data-widget-sortable="false">
			<header>
				<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
				</i></span>
				<h2>Profiling</h2>
				<ul class="nav nav-tabs pull-right in" id="myTab">
				</ul>
				<span id="filterProfile" class="pull-right profileFilter"><i
					class="fa fa-filter">| Filter</i></span>
				<div class="dc-data-count pull-right">
					<a href="javascript:void(0)">Reset All</a>
				</div>

			</header> -->
		<div class="backgroundcolorwidgetimp" id="wid-id-profiling">
			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->
			</div>
			<!-- end widget edit box -->
			<!-- widget content -->
			<section id="widget-grid" class="">
				<div class="widget-body row">
					<div id="results" class="col-md-6 col-xs-6 col-sm-6 col-lg-6"></div>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in no-padding-bottom"
							id="materialgroup"></div>
					</div>
				</div>
			</section>
		</div>
	</article>
</div>
<div class="row" id="sankeyProfile" style="display: none">
	<!-- NEW WIDGET START -->
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="widget-grid" class="">
			<div id="sankeyInlineFilter" class="">
				<div class="jarviswidget jarviswidget-color-blueLight"
					data-widget-editbutton="false" data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false" data-widget-sortable="false">
					<div class="">
						<!-- <div class="jarviswidget-editbox">
										backgroundcolorwidgetimp
									</div> -->
						<div class="widget-body" style="min-height: 100px">
							<div id="sankeyFilterContent" class="smart-form col-sm-11"></div>
							<div class="">
								<button id="applyFilter" name="applyFilter" type="submit"
									style="margin: 20px 15px 0 0;"
									class="btn btn-primary margin-15-15-0-0 pull-right">Filter</button>
								<button id="clearFilter" name="clearFilter"
									style="margin: 20px 15px 0 0;"
									class="btn btn-warning margin-15-15-0-0 pull-right">Clear</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup"></div>
						</div> -->
		</section>
		<div class="jarviswidget jarviswidget-color-blueLight"
			id="wid-id-profiling" data-widget-editbutton="false"
			data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
			data-widget-sortable="false">
			<header>
				<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
				</i></span>
				<h2>Sankey</h2>
				<ul class="nav nav-tabs pull-right in" id="myTab">
					<li>
						<div class="showAll widget-toolbar"
							onClick="panZoomsvgObject.resetZoom();$(this).hide();">
							<i class="fa fa-rotate-left"></i> Reset Zoom
						</div>
					</li>
					<li>
						<div class="widget-toolbar">

							<span class="onoffswitch-title"> Sankey Zoom</span> <span
								class="onoffswitch"><input type="checkbox"
								name="onoffswitch" class="onoffswitch-checkbox"
								id="sankeyZoomOnOffswitch"> <label
								class="onoffswitch-label" for="sankeyZoomOnOffswitch"> <span
									class="onoffswitch-inner" data-swchon-text="ON"
									data-swchoff-text="OFF"></span> <span
									class="onoffswitch-switch"></span>
							</label> </span>
						</div>
					</li>
					<li><span id="filter" class="pull-right"><i
							class="fa fa-filter">| Filter</i></span></li>
				</ul>
			</header>
			<div class="backgroundcolorwidgetimp">
				<!-- widget edit box -->
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->
				</div>
				<!-- end widget edit box -->
				<!-- widget content -->

				<div class="widget-body row">
					<div id="chat-container" class="">
						<span class="chat-list-open-close"><i class="fa fa-cog"></i></span>
						<div class="chat-list-body custom-scroll smart-form">
							<ul id="chat-users">
							</ul>
						</div>
						<div class="chat-list-footer">
							<div class="control-group">
								<a href="javascript:void(0);" name="applynodes"
									class="btn btn-labeled btn-success pull-right"> <span
									class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Go
								</a>
							</div>
						</div>

					</div>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in no-padding-bottom"
							id="materialgroup"></div>
						<div id="sankeySliderSetting" class="smart-form row"
							style="display: none">
							<div class="col-sm-10">
								<div class="width-50per" style="margin-bottom: 30px">
									<span class="pull-right"><a id='resetLink' class="reset"
										style="display: none">Reset</a></span> <span name="slidervalue"
										class="badge bg-color-blue txt-color-white pull-right"
										style="margin-top: 5px;"></span> <label
										class="toggle pull-right"><input type="checkbox"
										id="sankeyordertype"><i data-swchon-text="Bottom"
										data-swchoff-text="Top"></i></label>
								</div>
								<div class="margin-left-10">
									<b class="pull-left">0</b><b class="pull-right" name="toRange"></b>
									<input id="sankeyslider" data-slider-id='ex1Slider' type="text"
										data-slider-step="1" />
								</div>
							</div>
						</div>
						<div id="sankeyLegend"></div>
						<div id="sankeynodeimagediv"></div>
						<div id='sankey' class="flowdiagram">&nbsp;</div>
					</div>
					<div class="col-sm-12" id="dataTableDiv">
						<div class="col-sm-12 jarviswidget jarviswidget-color-blueLight">
							<header style="display: none">
								<h2>Sankey Data Grid</h2>
								<a class="btn btn-success btn-sm pull-right"
									href="javascript:void(0);" id="downloadExcel"
									title="Download data in XLS format"
									data-datatable="#sankeyDataGrid"> <i
									class="fa fa-fw fa-cloud-download"></i>Excel
								</a> <a class="btn btn-success btn-sm pull-right margin-right-5"
									href="javascript:void(0);" id="downloadCSV"
									title="Download data in CSV format"
									data-datatable="#sankeyDataGrid"> <i
									class="fa fa-fw fa-cloud-download"></i>CSV
								</a>
							</header>
							<div class="backgroundcolorwidgetimp">
								<table id="sankeyDataGrid"
									class="table table-striped table-hover dc-data-table">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
	<!-- </div> -->
</div>
<div id="solrIndexer" style="display: none">
	<div id="profileEdit">
		<div class="row">
			<div class="col-sm-12">
				<article class="sortable-grid ui-sortable">
					<div class="jarviswidget jarviswidget-color-blueLight"
						id="wid-id-header" data-widget-editbutton="false"
						data-widget-deletebutton="false"
						data-widget-fullscreenbutton="false">
						<header>
							<span class="widget-icon"><i class="fa fa-fw fa-search">
							</i></span>
							<h2 id="sourceTableDesc">Solr Indexer</h2>
						</header>
						<div class="widget-body">
							<div class="row" id="solrIndexer-advancedconfig"
								style="display: none;">
								<div class="col-sm-12 sortable-grid ui-sortable">
									<!-- Widget ID (each widget will need unique ID)-->
									<div class="jarviswidget jarviswidget-color-blueDark "
										id="wid-id-filter">
										<header>
											<span class="widget-icon no-min-height"> <i
												class="fa fa-lg fa fa-filter"></i>
											</span>
											<h2>Solr Index</h2>
										</header>
										<div>
											<div class="jarviswidget-editbox"></div>
											<div class="widget-body">
												<div id="advancedconfig-area"></div>
												<div class="widget-body" style="min-height: 0px;"
													id="filter-solr">
													<div class="col-sm-12 sortable-grid ui-sortable">
														<div class="jarviswidget jarviswidget-color-blueDark "
															id="wid-id-solr-filter">
															<header>
																<span class="widget-icon no-min-height"> <i
																	class="fa fa-lg fa fa-filter"></i>
																</span>
																<h2>Filter Solr Index</h2>
															</header>
															<div>
																<div class="jarviswidget-editbox"></div>
																<div class="widget-body" style="min-height: 0px;">
																	<div>
																		<div class="row">
																			<div class="col-sm-2">Filter Column</div>
																			<div class="col-sm-3">
																				<input type="text" style="width: 100%"
																					id="filter-column" />
																			</div>
																			<div class="col-sm-1">Column Type</div>
																			<div class="col-sm-2">
																				<input type="text" style="width: 100%"
																					id="filter-column-type" />
																			</div>
																			<div class="col-sm-1">Filter Value</div>
																			<div class="col-sm-2">
																				<input type="text" style="width: 100%"
																					id="filter-column-value" />
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div id="filter-btn-cfg"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>
<div id="previewSearchConfig" style="display: none;">
	<div>
		<div class="jarviswidget jarviswidget-color-blueLight"
			id="wid-id-header" data-widget-editbutton="false"
			data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
			<!-- <header>
                <span class="widget-icon"><i
                                        class="fa fa-fw fa-search"> </i></span>
                <h2 id="searchTitleDesc">Search</h2>               
            </header> -->
			<div class="widget-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="row">

							<div style="margin: 1% 25% 2% 10%" id="searchDivId">
								<form id="searchForm">
									<div class="input-group m-bottom-md">
										<input type="search" autocomplete="off"
											placeholder="Search here..."
											class="form-control no-rightborder typeahead"
											id="searchconfigterm" /> <span class="input-group-btn">
											<a
											class="btn bg-color-white btn-bookmark dropdown dropdown-toggle"
											data-toggle="dropdown" id="searchConfigBookmark"
											title="Bookmark this search"> <i
												class="fa fa-lg fa-bookmark"></i></a>
											<ul class="dropdown-menu row bookmark-menu"
												id="configBookmarkUl">
												<li class="row smart-form">
													<form id="form-bookmark" class="smart-form">
														<header> Save Search Strategy </header>
														<fieldset class="padding-bottom-25 padding-top-15">
															<section>
																<input type="text" placeholder="Enter Name"
																	id="configBookMarkName" class="width-100per"> <input
																	type="hidden" id="configBookMarkValue">
															</section>
															<section>
																<br /> <label class="textarea col-md-12"> <textarea
																		placeholder="Enter Description"
																		id="configBookMarkDesc" class="input-xs"></textarea>
																</label>
															</section>
														</fieldset>
														<footer>
															<button type="button" class="btn btn-primary"
																id="saveConfigBookmark">Save</button>
															<button type="button" class="btn btn-default"
																onclick='$($("#searchConfigBookmark").parent()).removeClass("open");'>
																Back</button>
														</footer>
													</form>
												</li>
											</ul>
											<button type="submit" data-index="search"
												class="btn bg-color-blue" id="search">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div style="display: none;" id="search-faceting"></div>
							<div id="search-body-parent">
								<div id="search-body">
									<!-- For Tabbing... -->
									<ul id="searchTabsContainer" class="nav nav-tabs bordered"></ul>
									<div class="padding-10" id="searchTabContent"></div>
									<div class="row">
										<div class="col-sm-2 pull-right">
											<button style="display: none;" class="btn btn-default"
												id="btn-pagination">Load More</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="temp-view-construct-div"></div>
<div class="modal fade" id="pdfViewerModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">X</button>
				<h4 class="pdf-modal-title"></h4>
				<div class="wizard">
					<div class="actions" style="padding-left: 80%;">
						<button type="button" id="prev"
							class="btn btn-sm btn-primary btn-prev" data-src="">
							<i class="fa fa-arrow-left"></i>Prev
						</button>
						<button type="button" id="next"
							class="btn btn-sm btn-success btn-next" data-src="">
							<i class="fa fa-arrow-right"></i>Next
						</button>
					</div>
				</div>
			</div>
			<div class="modal-body" id="pdfModal">
				<iframe height="550px" width="100%" src="" id="iframe_a"
					name="iframe_a"></iframe>
			</div>
		</div>
	</div>
</div>
<div id="plotlyAnalyser" style="display: none" class="row">
	<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
		<div class="" id="plotlyScater"></div>
		<div class="" id="plotlyDencity"></div>
		<div class="">
			<table id="plotly-datatable" class="table margin-20">
			</table>
		</div>
	</article>
	<!-- <link type="text/css" rel="stylesheet" href="css/plotly.css" />
	<link type="text/css" rel="stylesheet" href="css/plotlymain.css" /> -->
</div>
<div id="nGramAnalyser" style="display: none">
	<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" id="nGramFilter"
		style="display: none">
		<div class="jarviswidget  jarviswidget-sortable"
			id="widget-inline-filter" data-widget-editbutton="false"
			data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
			data-widget-sortable="false" role="widget">
			<div style="background: #FFFFFF; padding: 0px !important"
				role="content">
				<div class="jarviswidget-editbox"></div>
				<div class="">
					<div id="divnGramFilter"></div>
					<button class="btn btn-primary margin-10-0 pull-right"
						name="applynGramFilter" id="applynGramFilter">
						<i class="fa fa-filter">&nbsp;</i>Filter
					</button>
				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget div -->
		</div>
	</div>
	<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
		<div class="jarviswidget jarviswidget-color-blueLight"
			id="wid-id-header" data-widget-editbutton="false"
			data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
			data-widget-sortable="false">
			<header>
				<span class="widget-icon"><i class="fa fa-fw fa-cloud"> </i></span>
				<h2>nGram Analyser</h2>
				<div class="widget-toolbar" role="menu">
					<span class="onoffswitch-title"><i
						class="fa fa-location-arrow"></i> Pan / Zoom</span> <span
						class="onoffswitch"> <input type="checkbox"
						name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
						onchange="nGramAnalyser.enablePanZoom(this)"> <label
						class="onoffswitch-label" for="myonoffswitch"> <span
							class="onoffswitch-inner" data-swchon-text="ON"
							data-swchoff-text="OFF"></span> <span class="onoffswitch-switch"></span>
					</label>
					</span>
					<div class="btn-group">
						<button class="btn dropdown-toggle btn-xs btn-warning"
							data-toggle="dropdown" aria-expanded="false" id="nGrambutton"
							value=0>
							Select Gram <i class="fa fa-caret-down"></i>
						</button>
						<ul class="dropdown-menu pull-right" id="nGramSelect">
							<li value="1"><a href="javascript:void(0);">Uni-grams</a></li>
							<li value="2"><a href="javascript:void(0);">Bi-grams</a></li>
							<li value="3"><a href="javascript:void(0);">Tri-grams</a></li>
							<li value="4"><a href="javascript:void(0);">4-grams</a></li>
							<li value="5"><a href="javascript:void(0);">5-grams</a></li>
						</ul>
					</div>
				</div>
			</header>
			<!-- widget content -->
			<div class="widget-body backgroundcolorwidgetimp">
				<form action="" class="smart-form" id="nGramform">
					<fieldset class="hide" id="fieldsetCloud">
						<section>
							<div id="cloud"></div>
						</section>
					</fieldset>
					<footer>
						<!-- <button type="button" class="btn btn-primary" id="submitButton">Go</button> -->
						<!-- <button type="button" class="btn btn-default"
								onclick="window.history.back();">Back</button> -->
					</footer>
				</form>
			</div>
		</div>
	</article>
</div>
<div class="row bg-color-white no-margin" id="searchProfile"
	style="display: none">
	<div class="search-active" id="searchDivId">
		<form id="searchForm">
			<div class="input-group m-bottom-md">
				<input type="search" autocomplete="on" placeholder="Search here..."
					class="form-control no-rightborder typeahead" id="searchterm">
				<!-- <span class="dropdown dropdown-large input-group-btn advancesearch">
						 <a href="#" class="dropdown-toggle font-xs cursor-pointer"
						data-toggle="dropdown" aria-expanded="false">Advanced Search<b
							class="caret" title="Advanced search"></b></a> -->
				<!-- <ul class="dropdown-menu row">
							<li class="col-sm-3"><label class="checkbox"> <input
									type="checkbox" name="checkbox-inline"> <i></i>Search
									only in display fields
							</label> <span class="input-group-btn padding10">
									<button type="submit" class="btn bg-color-blue" id="searchAdv">
										<i class="fa fa-search"></i>
									</button></li>
						</ul> 

					</span>-->
				<span class="input-group-btn"> <a
					class="btn bg-color-white btn-bookmark dropdown dropdown-toggle"
					data-toggle="dropdown" id="searchBookmark"
					title="Bookmark this search"> <i class="fa fa-lg fa-star-o"></i></a>
					<ul class="dropdown-menu row bookmark-menu" id="bookmarkUl">
						<li class="row smart-form">
							<form id="form-bookmark" class="smart-form">
								<header> Bookmark </header>

								<fieldset class="padding-bottom-25 padding-top-15">
									<section>
										<label class="label col-md-2">Name:</label> <label
											class="input col-md-10"> <input type="text"
											class="input-xs" id="bookMarkName"> <input
											type="hidden" id="bookMarkValue">
										</label>
									</section>
								</fieldset>
								<footer>
									<button type="button" class="btn btn-primary" id="savebookmark">
										Save</button>
									<button type="button" class="btn btn-default"
										onclick='$($("#searchBookmark").parent()).removeClass("open");'>
										Back</button>
								</footer>
							</form>
						</li>
					</ul>
					<button type="submit" class="btn btn-info" id="search">
						<i class="fa fa-search"></i>
					</button> <!-- <button type="submit" class="btn btn-warning" id="searchClear">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button> -->
				</span>
			</div>
		</form>
	</div>
	<div class="row search-active">
		<div class="col-md-12 line compare-cart-wrapper hide"
			id="compareHolder">
			<div class="col-md-10 compare-items ">
				<div class="col-md-6 compare-item empty_item">
					<!-- 						<div class="thumb_holder"> -->
					<!-- 							<img class="thumbnail"> -->
					<!-- 						</div> -->
					<a href="javascript:void(0)" class="description">Add an Item</a>
					<!-- 					 <span class="delete" title="Remove"></span> -->
				</div>
				<div class="col-md-6 compare-item empty_item">
					<!-- 						<div class="thumb_holder"> -->
					<!-- 							<img class="thumbnail"> -->
					<!-- 						</div> -->
					<a href="javascript:void(0)" class="description">Add another
						Item</a>
					<!-- 							<span class="delete" title="Remove"></span> -->
				</div>
			</div>
			<div class="compare-controls col-md-2">
				<span class="compare-button btn btn-blue disabled"
					data-target="#myCompareModel" data-toggle="modal"
					onclick="searchProf.goToCompare(); return false;">Compare</span> <span
					class="fk-hidden lmargin5">Upto 4 products</span> <span
					class="close" title="Close" id="compareClose"
					onclick="searchProf.compareClose()"><i class="fa fa-remove"></i></span>
			</div>
			<div class="clear"></div>
		</div>
		<!-- <div class="col-md-4 text-center marginTop21">
				<input type="search" autocomplete="on"
					placeholder="Search with in Drill"
					class="form-control no-rightborder" id="searchbyArea">
			</div> -->
	</div>
	<div class="jarviswidget jarviswidget-color-blueLight no-padding"
		id="wid-id-data" data-widget-editbutton="false"
		data-widget-deletebutton="false" data-widget-sortable="false">
		<!-- <header>
		<ul class="nav nav-tabs pull-left in" id="myTab">
			<li class="active" data-source="SAP" onClick="searchSolr.Load('SAP')"><a
				data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
					<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

			<li data-source="JDE" onClick="searchSolr.Load('JDE')"><a
				data-toggle="tab" href="#mainDivId"><i class="fa fa-gear"></i> <span
					class="hidden-mobile hidden-tablet">JDE</span></a></li>
			<li data-source="GP" onClick="searchSolr.Load('GP')"><a
				data-toggle="tab" href="#mainDivId"><i class="fa fa-gear"></i> <span
					class="hidden-mobile hidden-tablet">GP</span></a></li>
		</ul>
	</header> -->
		<div class="no-border">
			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->
			</div>
			<!-- end widget edit box -->
			<!-- widget content -->
			<div class="widget-body" id="searchContent">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in no-padding-bottom"
						id="materialgroup">
						<div class="row" id="mainDivId">
							<div class="col-sm-12">
								<div class="padding-md">
									<div class="row">
										<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
											<div class="facets-tabs" style="display: none;">
												<div
													class="jarviswidget jarviswidget-color-blueLight no-padding"
													id="wid-id-data" data-widget-editbutton="false"
													data-widget-deletebutton="false"
													data-widget-sortable="false">
													<div class="widget-body">
														<div class="row" style="display: none" id="resultOpt">
															<div class="row">
																<div class="col-sm-12" id="resultCfg"></div>
															</div>
															<div class="row">
																<div class="tab-content faq-cat-content col-sm-12"
																	id="resultData"></div>
															</div>
														</div>
														<div class="tab-content faq-cat-content" id="resultGrid">
															<div class="alert alert-warning fade in"
																id="entitySelectMsg">
																<button class="close" data-dismiss="alert">x</button>
																<i class="fa-fw fa fa-warning"></i>
																<h3 class="inline">Select a Data Source to see
																	Records</h3>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<section id="widget-grid" class="">
											<article
												class="col-md-3 col-xs-3 col-sm-3 col-lg-3 facets-tabs">
												<!-- Widget ID (each widget will need unique ID)-->
												<div class="jarviswidget jarviswidget-color-light "
													id="wid-id-20" data-widget-editbutton="false"
													data-widget-deletebutton="false"
													data-widget-fullscreenbutton="false"
													data-widget-togglebutton="false" style="display: none">
													<header>
														<span class="widget-icon"><i class="fa fa-tasks">
														</i></span>
														<h2>Data Sources</h2>
													</header>
													<div>
														<!-- widget edit box -->
														<div class="jarviswidget-editbox">
															<!-- This area used as dropdown edit box -->
														</div>
														<!-- end widget edit box -->
														<!-- widget content -->
														<div class="widget-body">
															<div class=" ">
																<ul class=" faq-cat-tabs entities" id="entities">
																</ul>
															</div>
														</div>
													</div>
													<!-- end widget div -->
												</div>
												<!-- end widget -->
											</article>
										</section>
									</div>
									<!-- /.padding-md -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myCompareModel" tabindex="-1" role="dialog"
	aria-labelledby="myCompareModel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h4 class="modal-title" id="myCompareModelLabel">Compare
					Drawings</h4>
			</div>
			<table class="table" id="compareTable">
				<tr>
					<td colspan="3">
						<div class="row">
							<div class="col-sm-6" style="border-right: 1px solid #ccc">
								<img style="max-height: 300px;" id="itemOneDrawing"
									onerror="System.imgError(this);" class="elevateZoom" />
							</div>
							<div class="col-sm-6">
								<img style="max-height: 300px;" id="itemTwoDrawing"
									onerror="System.imgError(this);" class="elevateZoom" />
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th class="text-right">Title:
					</td>
					<td><label id="itemOneTitle"></label></td>
					<td><label id="itemTwoTitle"></label></td>
				</tr>
				<tr>
					<th class="text-right">Doc num:
					</td>
					<td><label id="itemOneDocNum"></label></td>
					<td><label id="itemTwoDocNum"></label></td>
				</tr>
				<tr>
					<th class="text-right">Type:
					</td>
					<td><label id="itemOneCompany"></label></td>
					<td><label id="itemTwoCompany"></label></td>
				</tr>
				<tr>
					<th class="text-right">Origin:
					</td>
					<td><label id="itemOneCategory"></label></td>
					<td><label id="itemTwoCategory"></label></td>
				</tr>
				<tr>
					<th class="text-right">Status:
					</td>
					<td><label id="itemOneSubCategory"></label></td>
					<td><label id="itemTwoSubCategory"></label></td>
				</tr>
				<tr>
					<th class="text-right">Manufacturer:
					</td>
					<td><label id="itemOneMaterialOrComponents"></label></td>
					<td><label id="itemTwoMaterialOrComponents"></label></td>
				</tr>
			</table>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h4 class="modal-title" id="myModalLabel">Filters</h4>
			</div>
			<form id="frmSankeyFilter" class="smart-form">
				<div class="modal-body padding10 margin-20">
					<div id="divSankeyFilter"></div>
					<div id="sankeyModalFilterContent"></div>
					<!-- adding date range popup -->
				</div>
				<div class="modal-footer">
					<footer>
						<button id="applyFilter" name="applyFilter" type="submit"
							class="btn btn-primary">
							<i class="fa fa-filter">&nbsp;</i>Filter
						</button>
						<button id="clearFilter" name="clearFilter"
									style="margin: 20px 15px 0 0;"
									class="btn btn-warning margin-15-15-0-0 pull-right">
									<i class="fa fa-times">&nbsp;</i>Clear</button>
					</footer>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>


	<!-- /.modal-dialog -->
</div>

<!-- adding date range popup -->
<div id="dialog" title="Date Range"
	style="width: 500px; height: 250px; display: none">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a data-toggle="tab" href="#year"
			data-attr="year" style="color: #a90329">Year</a></li>
		<li><a data-toggle="tab" href="#quarter" data-attr="quarter"
			style="color: #a90329">Quarter</a></li>
		<li><a data-toggle="tab" href="#month" data-attr="month"
			style="color: #a90329">Month</a></li>
		<li><a data-toggle="tab" href="#week" data-attr="week"
			style="color: #a90329">Week</a></li>
		<li><a data-toggle="tab" href="#day" data-attr="day"
			style="color: #a90329">Day</a></li>
	</ul>
	<div class="tab-content">

		<div id="day" class="tab-pane fade ">
			<table style="margin-top: 10px;">
				<tr>
					<td style="padding-left: 20px;"><input type="radio" name="day"
						id="previousDay" value="previousDay"> <label
						for="previousDay">Yesterday</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio" name="day"
						id="lastRangeId" value="lastRangeValue" style="margin-left: 20px;">
						<label for="lastRangeId">Last</label></td>
					<td><input type="number" min="1" id="dayLastRange" name="day"
						data-value="lastRangeValue" class="lastRange"
						style="width: 50px; margin-left: 20px;"> days</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio" name="day"
						id="currentDay" value="currentDay"><label for="currentDay">Today</label>
						<br></td>
					<td style="padding-left: 20px;"><input type="radio" name="day"
						id="nextRangeDay" value="nextRangeValue"
						style="margin-left: 20px;"> <label for="nextRangeDay">
							Next</label><br></td>
					<td><input type="number" min="1" name="day" id="dayNextRange"
						data-value="nextRangeValue" class="nextRange"
						style="width: 50px; margin-left: 20px;"> days</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio" name="day"
						id="nextDay" value="nextDay"> <label for="nextDay">Tomorrow</label></td>
					<td style="padding-left: 20px;"><input type="radio" name="day"
						id="betweenDay" value="betweenValue" style="margin-left: 20px;">
						<label for="betweenDay"> Between</label><br></td>
					<td style="padding-left: 20px;"><input type="number"
						name="betweenRange" id="betweenFromday" value="nextDay"
						data-value="betweenValue" style="width: 50px;">To<input
						type="number" name="betweenRange" id="betweenToday"
						value="nextDay" data-value="betweenValue" style="width: 50px;"></td>
				</tr>
			</table>
			<hr>
		</div>

		<div id="year" class="tab-pane fade in active">
			<table style="margin-top: 10px;">
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="year" id="previousYear" value="previous"><label
						for="previousYear">Previous Year</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="year" id="lastRangeYear" value="lastRangeValue"
						style="margin-left: 20px;"><label for="lastRangeYear">Last</label></td>
					<td><input type="number" name="year" min="1"
						id="yearLastRange" data-value="lastRangeValue" class="lastRange"
						style="width: 50px; margin-left: 20px;"> years</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="year" id="currentYear" value="current"><label
						for="currentYear">Current Year</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="year" id="nextRangeYear" value="nextRangeValue"
						style="margin-left: 20px;"><label for="nextRangeYear">Next</label>
						<br></td>
					<td><input type="number" name="year" min="1"
						id="yearNextRange" data-value="nextRangeValue" class="nextRange"
						style="width: 50px; margin-left: 20px;"> years</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="year" id="nextYear" value="next"><label
						for="nextYear">Next Year</label></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="year" id="betweenYear" value="betweenValue"
						style="margin-left: 20px;"> <label for="betweenYear">
							Between</label><br></td>
					<td style="padding-left: 20px;"><input type="number"
						name="betweenRange" id="betweenFromyear" value="nextDay"
						data-value="betweenValue" style="width: 50px;">To<input
						type="number" name="betweenRange" id="betweenToyear"
						value="nextDay" data-value="betweenValue" style="width: 50px;"></td>
				</tr>
			</table>
			<hr>
		</div>

		<div id="month" class="tab-pane fade ">
			<table style="margin-top: 10px;">
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						id="previousMonth" name="month" value="previous"><label
						for="previousMonth">Previous Month</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="month" id="lastRangeMonth" value="lastRangeValue"
						style="margin-left: 20px;"><label for="lastRangeMonth">Last</label></td>
					<td><input type="number" name="month" min="1"
						id="monthLastRange" data-value="lastRangeValue" class="lastRange"
						style="width: 50px; margin-left: 20px;"> months</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="month" id="currentMonth" value="current"><label
						for="currentMonth">Current Month</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="month" id="nextRangeMonth" value="nextRangeValue"
						style="margin-left: 20px;"><label for="nextRangeMonth">Next</label>
						<br></td>
					<td><input type="number" name="month" min="1"
						id="monthNextRange" data-value="nextRangeValue" class="nextRange"
						style="width: 50px; margin-left: 20px;"> months</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="month" id="nextMonth" value="next"><label
						for="nextMonth">Next Month</label></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="month" id="betweenMonth" value="betweenValue"
						style="margin-left: 20px;"> <label for="betweenMonth">
							Between</label><br></td>
					<td style="padding-left: 20px;"><input type="number"
						name="betweenRange" id="betweenFrommonth" value="nextDay"
						data-value="betweenValue" style="width: 50px;">To<input
						type="number" name="betweenRange" id="betweenTomonth"
						value="nextDay" data-value="betweenValue" style="width: 50px;"></td>
				</tr>
			</table>
			<hr>
		</div>

		<div id="quarter" class="tab-pane fade ">
			<table style="margin-top: 10px;">
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="quarter" id="previousQuarter" value="previous"><label
						for="previousQuarter">Previous Quarter</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="quarter" id="lastRangeQuarter" value="lastRangeValue"
						style="margin-left: 20px;"><label for="lastRangeQuarter">Last</label></td>
					<td><input type="number" name="quarter" min="1"
						id="quarterLastRange" data-value="lastRangeValue"
						class="lastRange" style="width: 50px; margin-left: 20px;">
						quarters</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="quarter" id="currentQuarter" value="current"><label
						for="currentQuarter">Current Quarter</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="quarter" id="nextRangeQuarter" value="nextRangeValue"
						style="margin-left: 20px;"><label for="nextRangeQuarter">Next</label>
						<br></td>
					<td><input type="number" name="quarter" min="1"
						id="quarterNextRange" data-value="nextRangeValue"
						class="nextRange" style="width: 50px; margin-left: 20px;">
						quarters</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="quarter" id="nextQuarter" value="next"><label
						for="nextQuarter">Next Quarter</label></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="quarter" id="betweenquarter" value="betweenValue"
						style="margin-left: 20px;"> <label for="betweenquarter">
							Between</label><br></td>
					<td style="padding-left: 20px;"><input type="number"
						name="betweenRange" id="betweenFromquarter" value="nextDay"
						data-value="betweenValue" style="width: 50px;">To<input
						type="number" data-value="betweenValue" name="betweenRange"
						id="betweenToquarter" value="nextDay" style="width: 50px;"></td>
				</tr>
			</table>
			<hr>
		</div>

		<div id="week" class="tab-pane fade ">
			<table style="margin-top: 10px;">
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="week" id="previousWeek" value="previous"><label
						for="previousWeek">Previous Week</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="week" id="lastRangeWeek" value="lastRangeValue"
						style="margin-left: 20px;"><label for="lastRangeWeek">Last</label></td>
					<td><input type="number" name="week" min="1"
						id="weekLastRange" data-value="lastRangeValue" class="lastRange"
						style="width: 50px; margin-left: 20px;"> weeks</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="week" id="currentWeek" value="current"><label
						for="currentWeek">Current Week</label> <br></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="week" id="nextRangeWeek" value="nextRangeValue"
						style="margin-left: 20px;"><label for="nextRangeWeek">Next</label>
						<br></td>
					<td><input type="number" name="week" min="1"
						id="weekNextRange" data-value="nextRangeValue" class="nextRange"
						style="width: 50px; margin-left: 20px;"> weeks</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;"><input type="radio"
						name="week" id="nextWeek" value="next"><label
						for="nextWeek">Next Week</label></td>
					<td style="padding-left: 20px;"><input type="radio"
						name="week" id="betweenweek" value="nextRangeValue"
						style="margin-left: 20px;"> <label for="betweenweek">
							Between</label><br></td>
					<td style="padding-left: 20px;"><input type="number"
						id="betweenFromweek" value="nextDay" name="betweenRange"
						data-value="betweenValue" style="width: 50px;">To<input
						type="number" name="betweenRange" data-value="betweenValue"
						id="betweenToweek" value="nextDay" style="width: 50px;"></td>
				</tr>
			</table>
			<hr>
		</div>
		<div id="savedRange">
			<span></span>
			<button type="button" class="btn btn-primary saveYear pull-right">
				Save</button>
		</div>

	</div>

</div>

<!--  date range popup -->
<!-- <div id="loading"></div> -->
<div class="modal fade" id="myModalDrilldown" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="printView">
			<div class="modal-header modal-header-small">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;"></div>
				<h4 class="modal-title" id="myModalLabel">Event Details View</h4>
			</div>
			<div class="modal-body">
				<div id="poDocView">
					<form id="frmSankeyFilter" class="">
						<div action="" id="smart-form-register" class="smart-form "
							novalidate="novalidate">
							<fieldset>
								<section>
									<label class="textarea"> <i
										class="icon-append fa fa-comment"></i> <textarea rows="4"
											name="remarks" id="remarks" placeholder="Comments"></textarea>
										<b class="tooltip tooltip-bottom-right">Needed to enter
											the Comments</b>
									</label>
								</section>
							</fieldset>
							<footer>
								<button type="button" class="btn btn-warning"
									data-dismiss="modal" aria-hidden="true">Cancel</button>
								<button type="submit" class="btn btn-primary" id="btnCreate">OK</button>
							</footer>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content mdlConfPrView" id="printView">
			<div class="modal-header modal-header-small">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<div class="pull-right" style="margin-right: 10px;"></div>
				<h4 class="modal-title" id="myModalLabel">Are you sure</h4>
			</div>
			<div class="modal-body">
				<div id="mdlConfirm">
					<form id="frmMdlConfirm" class="">
						<div action="" id="smart-form-register" class="smart-form "
							novalidate="novalidate">
							<fieldset>
								<section>
									<h3>Select Reason Reject All the Selected</h3>
								</section>
								<section class="dynamicSection"></section>
							</fieldset>
							<footer class="confirmation-user-footer">
								<button type="button" class="btn btn-warning"
									data-dismiss="modal" aria-hidden="true">No</button>
								<button type="submit" class="btn btn-primary" id="btnConfirm">Yes</button>
							</footer>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog"
	aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h4 class="modal-title" id="modalHeaderExportImport">Import</h4>
			</div>
			<form id="frmModalExportImport" class="smart-form">
				<div class="modal-body padding10">
					<fieldset class="no-padding" id="importFieldSet">
						<section>
							<label class="label">Upload</label> <label for="file"
								class="input input-file">
								<div class="button">
									<input type="file" class="fileUpload" name="file" />Browse
								</div> <input type="text" id="filename" placeholder="Upload file"
								readonly>
							</label>
						</section>
					</fieldset>
				</div>
				<div class="modal-footer">
					<footer>
						<button type="button" class="btn btn-warning" data-dismiss="modal"
							aria-hidden="true">Cancel</button>
						<button id="exportImportButton" type="submit"
							class="btn btn-primary">Import</button>
					</footer>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="preparing-file-modal" title="Preparing report..."
	style="display: none;">
	We are preparing your report, please wait...
	<!--Throw what you'd like for a progress indicator below-->
	<div class="ui-progressbar-value ui-corner-left ui-corner-right"
		style="width: 100%; height: 22px; margin-top: 20px;"></div>
</div>
<div id="error-modal" title="Error" style="display: none;">There
	was a problem generating your report, please try again.</div>
<div class="jarviswidget jarviswidget-color-blue hide"
	id="wid-id-formView" data-widget-colorbutton="false"
	data-widget-editbutton="false" data-widget-fullscreenbutton="false"
	data-widget-custombutton="false" data-widget-sortable="false"
	role="widget">
	<header role="heading">
		<div class="jarviswidget-ctrls" role="menu">
			<a href="javascript:void(0);"
				class="button-icon jarviswidget-toggle-btn" rel="tooltip" title=""
				data-placement="bottom" data-original-title="Back"><i
				class="fa fa-mail-reply"></i></a>
		</div>
		<h2 class="margin-right-5">Case Details</h2>
		<span class="jarviswidget-loader"><i
			class="fa fa-refresh fa-spin"></i></span>
		<div id="actionButtons" class="pull-right" style="margin-right: 10px;">
		</div>
	</header>
	<!-- widget div-->
	<div role="content">
		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->
		</div>
		<!-- end widget edit box -->
		<!-- widget content -->
		<div class="widget-body" id="formView"></div>
		<!-- end widget content -->
	</div>
	<!-- end widget div -->
</div>
<script id="tab-Template" type="text/x-handlebars-template">
    <li class="{{active}} pull-right tabinfoTitle" data-profilekey="{{profileKey}}" data-id="{{id}}">
        <a data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
			<span class="hidden-mobile hidden-tablet">{{profileDisplayName}}</span>
		</a>
    </li>
</script>
<div id="view-search-data-modal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="printView">
			<div class="modal-header modal-header-small">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<div class="pull-right" style="margin-right: 10px;"></div>
				<h4 class="modal-title" id="myModalLabel">Search Details</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12" id="view-search-data-modal-data"></div>
				</div>
				<div class="row">
					<hr />
					<div class="col-sm-12" id="view-search-data-modal-img"></div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<div id="searchModalDrilldown" style="display: none">
	<div class="row">
		<div class="col-sm-12">
			<article class="sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-light"
					id="wid-id-header" data-widget-editbutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false">
					<header>
						<span class="widget-icon"><i class="fa fa-fw fa-search">
						</i></span>
						<h2 id="searchModalLabel">Search :</h2>
						<a class="btn btn-warning pull-right" id="searchBack"
							href="javascript:void(0);" title="Back to Search Results"> <i
							class="fa fa-mail-reply"></i> Back
						</a>
					</header>
					<div class="widget-body">
						<div class="row">
							<div id="searchModalDrilldown-additionalFeature"></div>
							<div class="col-sm-4">
								<ul class="rpd-feature-set-list" style="list-style-type: none;"
									id="searchModalDrilldown-content">
								</ul>
							</div>
							<div class="col-sm-8" id="searchModalDrilldown-image"></div>
						</div>
						<div class="row">
							<div class="row">
								<div class="col-sm-12" id="searchModalDrilldown-title"></div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-10" id="searchModalDrilldown-suggestion"></div>
								<div class="col-sm-1"></div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div id="wid-id-5" style="display: none;">
	<div id="algoDiv">

		<div class="jarviswidget jarviswidget-color-light "
			data-widget-editbutton="false" data-widget-deletebutton="false">
			<header>
				<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
				</i></span>
				<h2>Filters</h2>
				<div>
					<div class="dc-data-count">
						<!-- <span class="filter-count"></span> selected out of <span
															class="total-count"></span> records | -->
						<!-- 														<a href="javascript:dc.filterAll(); dc.renderAll();">Reset -->
						<!-- 															All</a> -->
					</div>
					<div class="pull-right" style="margin-right: 10px;">
						<!--<a href="#" id="btnOpenSearchModal" class="btn btn-success pull-right"
							data-toggle='modal'>
							Save</a> -->
					</div>
				</div>
			</header>
			<div>
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->
				</div>
				<!-- end widget edit box -->

				<!-- widget content -->
				<div class="widget-body">
					<div class="row">
						<div class="col-md-7">
							<i class="note">Algorithms:</i> <input type="text"
								name="smAlgorithms" id="smAlgorithms" style="width: 100%" />
						</div>
						<div class="col-md-3 smart-form">
							<span class="smart-form"> <!-- <label class="checkbox ">
							<input type="checkbox" name="checkbox">
							<i></i>Exclude Special character
						</label> --> <label class="toggle"> <input type="checkbox"
									name="excludeSC"> <i data-swchon-text="ON"
									data-swchoff-text="OFF"></i>Exclude Special character
							</label>
							</span>
						</div>
						<div class="col-md-2 smart-form">
							<span class="smart-form"> <!-- <label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Exclude Space
						</label> --> <label class="toggle"> <input type="checkbox"
									name="excludeSpace"> <i data-swchon-text="ON"
									data-swchoff-text="OFF"></i>Exclude Space
							</label>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5 smart-form" id="source">
							<i class="note">Source Filters:</i> <label class="input"><input
								type="text" name="source filters" style="width: 100%"
								placeholder="Filter conditions"></label>
						</div>
						<div class="col-sm-5 smart-form" id="target">
							<i class="note">Target Filter:</i> <label class="input"><input
								type="text" name="target filters" style="width: 100%"
								placeholder="Filter conditions"></label>
						</div>
						<div class="col-md-1 padding-top-15">
							<button type="submit" class="btn btn-primary" data-type="view"
								id="generateSM">Filter</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-light "
				data-widget-editbutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Detail view</h2>
					<div>
						<div class="dc-data-count">
							<!-- <span class="filter-count"></span> selected out of <span
															class="total-count"></span> records | -->
							<!-- 														<a href="javascript:dc.filterAll(); dc.renderAll();">Reset -->
							<!-- 															All</a> -->
						</div>
						<div class="pull-right" style="margin-right: 10px;">
							<a href="#" id="smart-mod-eg1" class="btn btn-success pull-right"
								data-toggle='modal' onclick="ppaMaterialMapping.ExportToExcel()">
								Export to Excel</a> <a href="#" style="margin-right: 10px;"
								class="btn btn-info"> Approve </a>
						</div>
					</div>
				</header>
				<div>
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">
						<div class="row">


							<table class="table table-hover dc-data-table" id="detailTable"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modalDrilldown" style="display: none">
	<div class="row">
		<div class="col-sm-12">
			<article class="sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-light"
					id="wid-id-header" data-widget-editbutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false">
					<header>
						<span class="widget-icon"><i class="fa fa-fw fa-search">
						</i></span>
						<div class="row">
							<h2 style="margin-left: 10px;" id="modalDrilldownLabel"></h2>
							<div class="pull-right" style="margin-right: 1em;">
								<div id="modalDrilldownExtras">
									<a class="btn btn-warning"
										style="float: right; margin-left: 0.3em;" id="goBack"
										href="javascript:void(0);" title="Navigate Back"> <i
										class="fa fa-mail-reply"></i> Back
									</a>
								</div>
							</div>

						</div>
					</header>
					<div class="widget-body">
						<div class="row no-margin">
							<div id="modalDrilldown-additionalFeature"></div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div id="preparing-rule-modal" title="Running Rule..."
	style="display: none;">
	Running Rule, please wait...
	<!--Throw what you'd like for a progress indicator below-->
	<div class="ui-progressbar-value ui-corner-left ui-corner-right"
		style="width: 100%; height: 22px; margin-top: 20px;"></div>
</div>
<!-- This Modal will be used to show profile on modal -->
<div class="modal fade" id="profileOnModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalRelaceLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 90%; max-width: 1200px;">
		<div class="modal-content">
			<div class="modal-header" id="profileModalHeader">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body padding10">
				<div class="row">
					<article
						class="col-md-12 col-xs-12 col-sm-12 col-lg-12 sortable-grid">
						<div class="" id="divContentProfileonModal">
							<section class="">
								<div class="widget-body row"></div>
							</section>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Up to here -->
<div class="modal fade" id="myModalEmail" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Email</h4>
			</div>
			<form id="emailValidation">
				<div class="modal-body no-padding">
					<div action="" id="smart-form-email" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i
									class="icon-append fa fa-envelope"></i> <input type="text"
									name="emailmulti" id="emailmulti" placeholder="To"
									class="invalid" autofocus> <b
									class="tooltip tooltip-bottom-right">Needed to enter the To
										Email</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-bell"></i>
									<input type="text" id="subject" name="subject"
									placeholder="Subject" class="invalid"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Subject</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i
									class="icon-append fa fa-comments"></i> <textarea rows="5"
										name="message" id="message" placeholder="Message"
										class="invalid"></textarea> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Message</b>
								</label>
							</section>
							<div class="alert alert-warning fade in margin-bottom-5"
								id="attachmentDiv">
								<i class="fa-fw fa fa-file"></i> <strong>Attached:</strong><span
									id="attachment"></span>
							</div>
							<input type="hidden" id="files" />
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="button" class="btn btn-primary" id="btnSend">Send</button>
						</footer>
					</div>

				</div>
			</form>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->

	</div>
</div>
<a href="javascript:void(0);" class="btn-warning back-to-top"
	style="display: none;" title="Click to scroll top"><i
	class="fa fa-2x fa-arrow-circle-o-up"></i></a>
<script src="web/js/plugin/typeahead/typeahead.js"></script>
<script src="js/plugin/ckeditor/ckeditor.js"></script>
<script src="js/DataAnalyser/DynamicProfile.js"></script>
<script src="web/js/plugin/elevatezoom-master/jquery.elevatezoom.js"></script>
