<div name="editCaseForm">
	<div class="widget-body">
		<form action="" id="eventDetailsForm" class="smart-form"
			novalidate="novalidate">
			<div class="padding-10">
				<div class="row">
					<section class="col col-6">
						<strong class="col-sm-2">Case Name :</strong> <label
							class="input col-sm-8"> <input type="text"
							name="caseName">
						</label>
					</section>
					<section class="col col-6">
						<strong class="col-sm-2">Status :</strong> <label
							class="input col-sm-8"> <select class="form-control"
							name="status">
								<option value="Confirmed">Confirmed</option>
								<option value="Pending">Pending</option>
						</select>
						</label>
					</section>

				</div>
			</div>
			<div class="padding-10">
				<div class="row">
					<section class="col col-6">
						<strong class="col-sm-2">Date :</strong>
						<div class="input col-sm-8">
							<section class="col-sm-6">
								<label class="input"> <input type="text"
									placeholder="Start" name="startDate">
								</label>
							</section>
							<section class="col col-6 ">
								<label class="input"><input placeholder="End"
									name="endDate"> </label>
							</section>
						</div>
					</section>
					<section class="col col-6">
						<strong class="col-sm-2">Details :</strong>
						<div class="input col-sm-8">
							<label class="textarea"> <i
								class="icon-append fa fa-comment"></i> <textarea rows="5"
									name="eventDetails" placeholder="Case Details"></textarea>
							</label>
						</div>
					</section>
				</div>
			</div>
			<div class="padding-10">
				<div class="row">
					<section class="col col-6">
						<strong class="col-sm-2">Physicians :</strong><label
							class="input col-sm-8"> <i class="icon-append fa fa-user"></i>
							<input type="text" name="physicians">
						</label>
					</section>
					<section class="col col-6">
						<strong class="col-sm-2">Sales Rep :</strong><label
							class="input col-sm-8"><i class="icon-append fa fa-user"></i>
							<input type="text" name="reps"> </label>
					</section>
				</div>
			</div>
			<div class="padding-10">
				<div class="row">
					<section class="col col-6">
						<strong class="col-sm-2">Location :</strong> <label
							class="input col-sm-8"> <i class="icon-append fa fa-user"></i>
							<input type="text" name="locations">
						</label>
					</section>
					<section class="col col-6">
						<strong class="col-sm-2">Orientation :</strong> <label
							class="input col-sm-8"> <select
							class="form-control valid" name="orientation">
								<option value="">Select</option>
								<option value="Right">Right</option>
								<option value="Left">Left</option>
						</select>
						</label>
					</section>
				</div>
			</div>
			<div class="padding-10">
				<div class="row">
					<section class="col col-12">
						<strong>Implants and Instruments</strong><label class="input">
							<div class="table-responsive">
								<table class="table table-bordered" name="implant">
									<thead>
										<tr>
											<th width="30%">Part</th>
											<th width="53%">Description</th>
											<th width="5%">Size</th>
											<th width="5%">Quantity</th>
											<th width="7%"></th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>

							</div>
						</label>
					</section>
				</div>
			</div>
			<footer>
				<button type="submit" name="createbtn" class="btn btn-primary">Create</button>
				<button type="cancel" name="cancelbtn" class="btn btn-warning">Back</button>
			</footer>
		</form>

	</div>
</div>
<div name="viewCaseForm">
	<div id="workflow"></div>
	<div class="tabs-left">
		<ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
			<li class="active"><a href="#tab-r1" data-toggle="tab"><span
					class="badge bg-color-blue">&nbsp;</span> Case Details </a></li>
			<li><a href="#tab-r2" data-toggle="tab"><span
					class="badge bg-color-blueDark">0</span> Attachments</a></li>
			<li><a href="#tab-r3" data-toggle="tab"><span
					class="badge bg-color-greenLight">0</span> History Record</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active row" id="tab-r1">
				<table id="user" class="table table-bordered table-striped"
					style="width: 97%">
					<thead>
						<tr>
							<th colspan="2" class="bg-color-darken txt-color-white">Case
								Information</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th style="width: 10%; text-align: right;">Case ID</th>
							<td style="width: 90%" name="eventId"></td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;">Start</th>
							<td style="width: 90%" name="eventStart"></td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;">End</th>
							<td style="width: 90%" name="eventEnd"></td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;">Case</th>
							<td style="width: 90%" name="eventCase"></td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;">Details</th>
							<td style="width: 90%" name="eventDetails"></td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;">Orientation</th>
							<td style="width: 90%" name="orientation"></td>
						</tr>
					</tbody>
				</table>
				<div class="col-md-4">
					<table id="user" class="table table-bordered table-striped" style="margin-left: 1%;">
						<thead>
							<tr>
								<th colspan="2" class="bg-color-darken txt-color-white">Location</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="width: 30%; text-align: right;">Practice</td>
								<td style="width: 70%" name="locationPractice"></td>
							</tr>
							<tr rowspan="3">
								<td style="width: 30%; text-align: right;">Address</td>
								<td style="width: 70%; height: 85px" name="locationAddress"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-4">
					<table id="physicians" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th colspan="2" class="bg-color-darken txt-color-white">Physicians</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="col-md-4">
					<table id="reps" class="table table-bordered table-striped" style="width:99%">
						<thead>
							<tr>
								<th colspan="2" class="bg-color-darken txt-color-white">Sales
									Representative</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<table id="implantAndInstruments"
					class="table table-bordered table-striped" style="width: 97%;margin-left:1.5%">
					<thead>
						<tr>
							<th colspan="5" class="bg-color-darken txt-color-white">Implants
								and Instruments</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th style="width: 20%;">Part</th>
							<th style="width: 40%;">Description</th>
							<th style="width: 15%;">Size</th>
							<th style="width: 10%;">Quantity</th>
							<th style="width: 15%;">Actual Size</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane" id="tab-r2"></div>
			<div class="tab-pane" id="tab-r3">
				<div style="max-height: 200px; overflow: auto; display: none"
					name="historyDiv">
					<h1>
						<small><b>Case Audit Logs</b></small>
					</h1>
					<table id="tablecaseauditlogs"
						class="table table-bordered table-striped" style="width: 99%">
						<!-- <thead>
						<tr>
							<th colspan="4" class="bg-color-darken txt-color-white">Case
								Audit Logs</th>
						</tr>
					</thead> -->
						<tbody>
							<tr>
								<th class="circle-tile" style="width: 5%;">#</th>
								<th style="width: 15%;">Updated Date</th>
								<th style="width: 80%;">Change Log</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div name="historyDiv" style="display: none">
					<table class="table table-bordered table-striped"
						style="width: 98%;margin-left: 1%;">
						<thead>
							<tr>
								<th colspan="2" class="bg-color-darken txt-color-white"
									name="generalinfo">Case Audit Logs Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th style="width: 10%; text-align: right;">Case ID</th>
								<td style="width: 90%" name="eventId"></td>
							</tr>
							<tr>
								<th style="width: 10%; text-align: right;">Start</th>
								<td style="width: 90%" name="eventStart"></td>
							</tr>
							<tr>
								<th style="width: 10%; text-align: right;">End</th>
								<td style="width: 90%" name="eventEnd"></td>
							</tr>
							<tr>
								<th style="width: 10%; text-align: right;">Case</th>
								<td style="width: 90%" name="eventCase"></td>
							</tr>
							<tr>
								<th style="width: 10%; text-align: right;">Details</th>
								<td style="width: 90%" name="eventDetails"></td>
							</tr>
						</tbody>
					</table>
					<div class="col-md-4">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th colspan="2" class="bg-color-darken txt-color-white">Location</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="width: 30%; text-align: right;">Practice</td>
									<td style="width: 70%" name="locationPractice"></td>
								</tr>
								<tr rowspan="3">
									<td style="width: 30%; text-align: right;">Address</td>
									<td style="width: 70%; height: 85px" name="locationAddress"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<table id="physicians" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th colspan="2" class="bg-color-darken txt-color-white">Physicians</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<table id="reps" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th colspan="2" class="bg-color-darken txt-color-white">Sales
										Representative</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<table id="implantAndInstruments"
						class="table table-bordered table-striped" style="width: 99%">
						<thead>
							<tr>
								<th colspan="5" class="bg-color-darken txt-color-white">Implants
									and Instruments</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th style="width: 20%;">Part</th>
								<th style="width: 40%;">Description</th>
								<th style="width: 20%;">Size</th>
								<th style="width: 20%;">Orientation</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="display: none; text-align: center"
					name="emptyHistoryDiv">
					<h1>
						<small><b>No History Found</b></small>
					</h1>
				</div>
			</div>
		</div>
		<!-- <footer>
			<a type="button" class="btn btn-default btn-prev" name="previous"> <i
				class="glyphicon glyphicon-chevron-left"></i>Previous
			</a>
			<a type="button" class="btn btn-default btn-next pull-right" name="next">
				Next <i class="glyphicon glyphicon-chevron-right"></i>
			</a>
		</footer> -->
	</div>
</div>
<script src="js/DataAnalyser/eventDetails.js"></script>