<link rel="stylesheet" type="text/css" media="screen"
	href="css/codemirror.css">
<div class="jarviswidget jarviswidget-color-white"
	data-widget-editbutton="false" data-widget-deletebutton="false"
	data-widget-fullscreenbutton="false" id="templateWidgets">
	<header>
		<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
		</i></span>
		<h2 id="sourceTableDesc"></h2>
		<div class="btn-group pull-right">
			<div class="widget-toolbar" role="menu" id="createProfile">
				<a href="javascript:void(0);"
					class="btn-sm btn btn-primary txt-color-white"><i
					class="fa fa-fw fa-save"></i>Create</a>
			</div>
		</div>

	</header>
	<div class="row" id="myProfiles">
	<div class="col-sm-12">
		<ul class="nav nav-tabs bordered profile-tabs">
			<li id="myProfileActive" class="active"><a href="#myprofilediv"
				id="myProfilediv" data-attr="myprofile" style="color: black"
				data-toggle="tab" aria-expanded="true">My Profiles<span
					class="badge bg-color-blue txt-color-white" name="myprofileCount">12</span></a></li>
			<li id="allProfileActive" class=""><a href="#allprofilediv"
				id="allProfilediv" data-attr="allprofile" data-toggle="tab"
				style="color: black" aria-expanded="false">All Profiles<span
					class="badge bg-color-blue txt-color-white" name="allprofileCount">12</span></a></li>
			<div class="col-sm-4 " style="padding-top: 2px; margin-left: 9%" id="selectedProfileName">
				<h4>
					<b></b>
				</h4>
			</div>
			<div class="col-sm-2 " id="appProfile"
				style="padding-top: 4px; margin-left: 10%">
				<!-- <i class=" "></i> <input type="text" name="appProfile"
					id="appProfile" style="width: 90%" /> -->
			</div>
		</ul>
		<div class="tab-content padding-10">
			<div class="well padding-10 active in" id="myprofilediv">
				<div class="row">
					<div class="col-lg-12">

						<table
							class='table table-striped table-bordered table-hover table-responsive'
							id='myProfileTable' style="overflow: auto; width: 100%;">
						</table>
                    </div>
				</div>
			</div>
			<div class="well padding-10" id="allprofilediv">
				<div class="row">
					<div class="col-lg-12">
						<table id='allProfileTable'
							class='table table-striped table-bordered table-hover table-responsive'>
						</table>
						</div>
				</div>
			</div>
		</div>

	</div>
</div>

</div>

<div id="loading"></div>
<div class="modal fade" id="myModalsave" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Data Source Details</h4>
			</div>
			<form id="frmSaveDataSource" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<div style="max-width: 970px; overflow: auto;">
						    	<section class="col col-sm-4">
								<div class="note">
									<strong>Source:</strong>
								</div>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="source" id="source"
									style="width: 100%;" tabindex="-1" title="">
								</label>
							</section>
							<section class="col col-sm-4">
								<div class="note">
									<strong>Database:</strong>
								</div>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="database" id="database"
									style="width: 100%;" tabindex="-1" title="">
								</label>
							</section>
						    <section class="col col-sm-4">
						    <div class="note">
									<strong>App Name:</strong>
								</div>
						    <label class="input"> <i class=""></i>
									<input type="text" name="appName" id="appName"
									style="width: 100%;" tabindex="-1" title="">
								</label>
				              </section>
							<section class="col col-sm-3">
								<div class="note">
									<strong>Profile Name:</strong>
								</div>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="profilename" id="profilename"
									placeholder="Profile name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Profile display name</b>
								</label>
							</section>
							<section class="col col-sm-6">
								<div class="note">
									<strong>Profile Description:</strong>
								</div>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="description" id="description"
									placeholder="Description">
								</label>
							</section>
						
						<section class="col col-sm-3">
								<div class="note">
									<strong>Data Type:</strong>
								</div>
								<label class="input"> 
									<input type="text" name="datatype" id="datatype"
									placeholder="Data Type"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Data Type</b>
								</label>
							</section>
							<section class="col col-sm-12" id='outputDiv'>
								<div class="note">
									<strong>Expected Output:</strong>
								</div>
								<label class="textarea"> <i
									class="icon-append fa fa-comment"></i> <textarea rows="4"
										name="expectedOutput" id="expectedOutput"
										placeholder="Expected Output"></textarea>
								</label>
							</section>
							<section class="col col-sm-12" id="rangeOutput">
								<div class="note">
									<strong>Expected Output:</strong>
								</div>
								<label name="defaultvaluelabel" ></label>
							</section>
							<section class="col col-sm-12">
								<div class="note">
									<strong>Query:</strong>
								</div>
								<div class="well">
									<textarea id="queryDataSource" style="width: 100px;"></textarea>
								</div>
							</section>
						</div>
						<footer>
							<label class="checkbox" style="display: none"> <input
								type="checkbox" id="createOther" name="createOther">
								Create Another Query <i> </i>
							</label>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="saveProfile">Save</button>

						</footer>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script src="js/plugin/codemirror.js"></script>
<script src="js/plugin/sql.js"></script>
<script src="js/DataAnalyser/ProfileUtilty.js"></script>
<script src="js/DataAnalyser/queryTest.js"></script>