
<div style="margin: 2% 25% 1% 10%" id="searchDivId">
	<form id="searchForm">
		<div class="input-group m-bottom-md">
			<input type="search" autocomplete="on" placeholder="Search here..."
				class="form-control no-rightborder" id="searchterm"> <span
				class="dropdown dropdown-large input-group-btn advancesearch">
				<a href="#" class="dropdown-toggle font-xs cursor-pointer" data-toggle="dropdown"
				aria-expanded="false">Advanced Search<b class="caret" title="Advanced search"></b></a>

				<ul class="dropdown-menu row">
					<li class="col-sm-3"><label class="checkbox"> <input
							type="checkbox" name="checkbox-inline">
							<i></i>Search only in display fields
					</label> <span class="input-group-btn padding10">
							<button type="submit" class="btn bg-color-blue" id="searchAdv">
								<i class="fa fa-search"></i>
							</button></li>
				</ul>

			</span> <span class="input-group-btn">
				<button type="submit" class="btn bg-color-blue" id="search">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</form>
</div>
<div class="jarviswidget jarviswidget-color-blueLight no-padding hide"
	id="wid-id-data" data-widget-editbutton="false"
	data-widget-deletebutton="false" data-widget-sortable="false">
	<header>
		<ul class="nav nav-tabs pull-left in" id="myTab">
			<li class="active" data-source="SAP" onClick="searchSolr.Load('SAP')"><a
				data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
					<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

			<li data-source="JDE" onClick="searchSolr.Load('JDE')"><a
				data-toggle="tab" href="#mainDivId"><i class="fa fa-gear"></i> <span
					class="hidden-mobile hidden-tablet">JDE</span></a></li>
			<li data-source="GP" onClick="searchSolr.Load('GP')"><a
				data-toggle="tab" href="#mainDivId"><i class="fa fa-gear"></i> <span
					class="hidden-mobile hidden-tablet">GP</span></a></li>
		</ul>
	</header>
	<div class="backgroundcolorwidgetimp">

		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->
		</div>
		<!-- end widget edit box -->

		<!-- widget content -->
		<div class="widget-body">
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in no-padding-bottom"
					id="materialgroup">
					<div class="row" id="mainDivId">

						<div class="col-sm-12">
							<div class="padding-md">
								<div class="row">
									<div class="col-md-9">
										<div class="facets-tabs" style="display: none;">
											<div class="tab-content faq-cat-content" id="resultGrid">
												<div class="alert alert-warning fade in"
													id="entitySelectMsg">
													<button class="close" data-dismiss="alert">x</button>
													<i class="fa-fw fa fa-warning"></i>
													<h3 class="inline">
														Select an Entity to see Records
														</h1>
												</div>
											</div>
										</div>
									</div>

									<section id="widget-grid" class="">
										<article class="col-md-3 facets-tabs">
											<!-- Widget ID (each widget will need unique ID)-->
											<div class="jarviswidget jarviswidget-color-light "
												id="wid-id-20" data-widget-editbutton="false"
												data-widget-deletebutton="false"
												data-widget-fullscreenbutton="false"
												data-widget-togglebutton="false" style="display: none">

												<header>
													<span class="widget-icon"><i class="fa fa-tasks">
													</i></span>
													<h2>Entities</h2>
												</header>

												<div>
													<!-- widget edit box -->
													<div class="jarviswidget-editbox">
														<!-- This area used as dropdown edit box -->
													</div>
													<!-- end widget edit box -->
													<!-- widget content -->
													<div class="widget-body">
														<div class=" ">
															<ul class=" faq-cat-tabs entities" id="entities">
															</ul>
														</div>
													</div>
												</div>
												<!-- end widget div -->
											</div>
											<!-- end widget -->
										</article>
									</section>
								</div>
								<!-- /.padding-md -->
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="loading"></div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id="btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id="btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end row -->

<script src="web/js/Search/e2e_search.js"></script>
