<section>
<div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div search-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable"
			id="widget-inline-filter" data-widget-editbutton="false"
			data-widget-deletebutton="false" data-widget-fullscreenbutton="false"
			data-widget-sortable="false">

			<div style="background: #FFFFFF;min-height:75px;">
				<div class="jarviswidget-editbox"></div>
				<div class="">
					<div id="divSankeyFilter">
						<div class="row smart-form col-sm-10">
							<section class="col col-4 col-sm-3">
								<div class="note">
									<strong>Container</strong>
								</div>
								<label class="input width-100per"><div id="container"></div>
								</label>
							</section>
						</div>
					</div>
					<!-- <button class="btn btn-danger margin-top-20 pull-right" name="purge"
						id="purge"
						style="margin-left: 20px !important; margin-right: 10px !important;">
						<i class="fa fa-trash">&nbsp;</i>Clear
					</button>
					<button class="btn btn-success margin-top-20 pull-right"
						name="ingest" id="filterbtn">
						<i class="fa fa-cogs">&nbsp;</i>Filter
					</button> -->

				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget div -->
		</div>
	</div>
	
	<div
		class="col-md-12 col-xs-12 col-sm-12 col-lg-12 chart-parent-div chart-parent-div">
		<div class="jarviswidget  jarviswidget-sortable" id="widgetComponent"
			data-widget-editbutton="false" data-widget-deletebutton="false"
			data-widget-fullscreenbutton="false" data-widget-sortable="false"
			role="widget">
			<header role="heading">
				<div class="jarviswidget-ctrls" role="menu">
					<a href="#" class="button-icon jarviswidget-toggle-btn"
						rel="tooltip" title="" data-placement="bottom"
						data-original-title="Collapse"><i class="fa fa-minus "></i></a>
				</div>
				<span class="widget-icon"> <i class="fa fa-fw fa-bar-chart-o">
				</i>
				</span>
				<h2>Oracle Storage Cloud</h2>
				<span class="jarviswidget-loader"><i
					class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div style="background: #FFFFFF" role="content">
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body" style="overflow: auto;">
					<table class="table table-bordered" id="dataEdlFiles">
						<thead>
							<tr>
								<th width="33%">File Name</th>
								<th width="33%">File Size</th>
								<th width="34%">Last Updated On</th>
							</tr>
						</thead>
					</table>
				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget div -->
		</div>
	</div>

</section>
<div id="loading"></div>
<script src="js/dataInjectionCenter/oracleStorageCloud.js"></script>