<section class="well">								
									<h1>Enter the URL and parameter information</h1>

                                     <div class="row">
                                        <div class="col-sm-6">
                                        	WebSite URL:
                                     	   <input type="text" class="form-control"  id="txtUrl" />
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>

						         <div class="row">
                                        <div  class="col-sm-6">
                                        	Campaign Source:
                                     	   <input type="text" class="form-control" id="txtSource" />
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>

                                     <div class="row">
                                        <div  class="col-sm-6">
                                        	Campaign Medium:
                                     	   <input type="text" class="form-control"  id="txtMedium" />
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>

                                     <div class="row marginTop21">
                                        <div class="col-sm-6" >
                                     	   <button class="btn pull-right btn-sm btn-warning" onclick="generate()">Generate URL</button>
                                        </div>
                                        
                                    </div>
									<div class="row">
                                        <div class="col-sm-6">
                                            Generated URL
                                     	   <textarea disabled class="form-control" rows="2" cols="100" id="urloutput" ></textarea>
                                        </div>
                                        
                                    </div>

</section>
 <!--<script src="js/IDMP/URLGenerator.js"></script>
   -->
<script src="js/DynamicURL/URLGenerator.js"></script>

